{%extends 'base.html'%}
{%load bootstrap3 %}
{% block content %}
    <form action="#" method="POST">

        {% csrf_token %}
        <h2>Alta Ingreso Contable</h2>
        <br>
        <br>

        {% bootstrap_form form %}

        <div class="row">
            <div class="col-xs-12" style="text-align:center">
				<button class="btn btn-primary">
					Guardar
				</button>
			</div>

        </div>
    </form>
    <script>
     $(document).ready(
        function ()
        {
                $("#id_fecha").attr({"type":"date"});
                $("#id_fecha").width(150);
                $("#id_importe").width(150);
                $("#id_id_concepto_ingreso").width(400);
        }
     );
    </script>
{% endblock %}



