{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block archivos_staticos%}
<script type="text/javascript" src="{% static 'js/abona_apartado.js' %}"></script>
{% endblock %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{request.user.username}}: {{request.user.first_name}} {{request.user.last_name}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}

{% block content %}
	<div class="col-xs-12 cls_encabezado_body">	
		<a>
			Apartado
		</a>			
	</div>

	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1">
			{%csrf_token%}	
			<div class="row cls_form_consulta">
				<div class="col-xs-12">
					<div class="panel panel-default">						
						<div class="panel-body">
							
							<div class="col-xs-8">
							<div class="row">														
								<div class="col-xs-12">
									<div class="cls_encabezado_alert " >
										<label>Información de apartado:</label>
									</div>
									<div class="panel panel-default">
										<div class="col-xs-12">
											<label>
												Folio apartado:
												<span>{{apartado.folio}}</span>
											</label>
										</div>
										<div class="col-xs-6">
											<label>
												Fecha emisión:												
											</label>
											{{apartado.fecha | date:'Y-m-d'}}
										</div>

										<div class="col-xs-6">
											<label>
												Fecha vencimiento:												
											</label>
											{{apartado.fecha_vencimiento | date:'Y-m-d'}}
										</div>
										&nbsp;
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="cls_encabezado_alert " >
										<label>Cliente:</label>
									</div>
									<div class="panel panel-default">
										<div class="col-xs-12">
											<label>Nombre:</label>
											{% ifnotequal apartado.cliente None%}
											
												{{apartado.cliente.nombre}} {{apartado.cliente.apellido_p}} {{apartado.cliente.apellido_m}}
											{% endifnotequal%}
											{% ifequal apartado.cliente None %}
												{{apartado.nombre_cliente}}
											{%endifequal%}
										</div>
										<div class="col-xs-8">
											<label>Calle:</label>
											{{apartado.cliente.calle}}
										</div>

										<div class="col-xs-4">
											<label>Codigo Postal:</label>
											{{apartado.cliente.codigo_postal}}											
										</div>

										<div class="col-xs-4">
											<label>No. Interior:</label>
											{{apartado.cliente.numero_interior}}
										</div>

										<div class="col-xs-8">
											<label>No. Exterior:</label>
											{{apartado.cliente.numero_exterior}}
										</div>
										<div class="col-xs-4">
											<label>Colonia:</label>
											{{apartado.cliente.colonia}}
										</div>

										<div class="col-xs-4">
											<label>Ciudad:</label>
											{{apartado.cliente.ciudad}}
										</div>

										<div class="col-xs-4">
											<label>Estado:</label>
											{{apartado.cliente.estado}}
										</div>

										<div class="col-xs-12">
											<label>Pais:</label>
											{{apartado.cliente.pais}}
										</div>
										<div class="col-xs-4">
											<label>Teléfono fijo:</label>
											

											{% ifnotequal apartado.cliente None%}											
												{{apartado.cliente.telefono_fijo}}	
											{% endifnotequal%}
											{% ifequal apartado.cliente None %}
												{{apartado.telefono}}
											{%endifequal%}
										</div>
										<div class="col-xs-8">
											<label>Teléfono celular:</label>
											{{apartado.cliente.telefono_celular}}
										</div>
										&nbsp;
									</div>
								</div>

								<div class="col-xs-12">
									<div class="cls_encabezado_alert " >
										<label>Producto(s):</label>
									</div>
									<div class="panel panel-default">
										{% for d in det_boleta%}
										<div class="col-xs-12">
											{{d.descripcion}}
										</div>
										{%endfor%}
										&nbsp;
									</div>
								</div>
							</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
									<div class="col-xs-12">
										<div class="cls_encabezado_alert " >
											<label>Pagar:</label>
										</div>
										<div class="panel panel-default">
											<div class="col-xs-12">
												
												
												<div class="row">
													<div class="col-xs-6">
														<label>Costo Total:</label>
													</div>
													<div class="col-xs-6 text-right">
														${{apartado.importe_venta}}
													</div>
												</div>

												<div class="row">
													<div class="col-xs-6">
														<label>Saldo restante:</label>
													</div>
													<div class="col-xs-6 text-right">
														${{apartado.saldo_restante}}
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<hr>	
													</div>
													
												</div>

												<div class="row">
													<div class="col-xs-6">
													<label>Abono a apartado:</label>		
													</div>
													<div class="col-xs-6">
														{% bootstrap_field form.abono show_label=False %}
													</div>													
												</div>


												<div class="row">
													<div class="col-xs-6">
													<label>Pago con:</label>		
													</div>
													<div class="col-xs-6">
														<input type="number" name="int_pago_con" class="form-control" placeholder="Abono" title=""  id="int_pago_con">
													</div>													
												</div>


												<div class="row">
													<div class="col-xs-12">
														<hr>	
													</div>													
												</div>

												<div class="row">
													<div class="col-xs-6">
														<label>Cambio:</label>
													</div>
													<div class="col-xs-6 text-right"	> 													
														<label id="lbl_cambio">$0.00</label>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Restan:</label>
													</div>
													<div class="col-xs-6 text-right"	> 													
														<label id="lbl_restan">$0.00</label>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12">
														<button class="btn btn-primary btn-sm btn-block" id="btn_guardar"><span class="glyphicon glyphicon-usd" ></span> Pagar</button>
													</div>
												</div>
											</div>
											&nbsp;
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="fondo_preloader">
		<div class="preloader" id="preloader">
		
		</div>
	</div>

		<div class="fondo_mensaje  cls_div_error" >

		</div >

		<div class="mensaje  cls_div_error" >
			<div class="cls_encabezado_alert" >
				Error!!
			</div>	
			<div class="panel panel-default">	
				<label class="page-header" id="msj_error"></label>
				<br>				
				<a class="btn btn-primary btn-sm" id="btn_aceptar_error"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
				<br>
				<br>
			</div>
		</div>

		{% ifequal caja_abierta "0" %}

		<div class="fondo_mensaje  " >

		</div >

		<div class="mensaje  " >
			<div class="cls_encabezado_alert" >
				Error!!
			</div>	
			<div class="panel panel-default">	
				<label class="page-header" id="msj_error">No cuenta con caja abierta</label>
				<br>				
				<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_cajas' %}"><span class="glyphicon glyphicon-ok"></span> Aceptar
				</a>
				<br>
				<br>
			</div>
		</div>

		{% endifequal%}


		{% ifequal no_apartado "0" %}

			<div class="fondo_mensaje  " >

			</div >

			<div class="mensaje  " >
				<div class="cls_encabezado_alert" >
					Error!!
				</div>	
				<div class="panel panel-default">	
					<label class="page-header" >El apartado ya no esta disponible</label>
					<br>				
					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_cajas' %}"><span class="glyphicon glyphicon-ok"></span> Aceptar
					</a>
					<br>
					<br>
				</div>
			</div>

		{% endifequal%}
		{% ifequal error "1"%}
		
			<div class="fondo_mensaje  " >
			</div >

			<div class="mensaje  " >
				<div class="cls_encabezado_alert" >
					Aviso
				</div>	
				<div class="panel panel-default">	
					<label class="page-header" >EL abono se aplico correctamente.</label>
					<br>				
					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_ventas' %}"><span class="glyphicon glyphicon-ok"></span> Aceptar
					</a>
					<br>
					<br>
				</div>
			</div>

		{% endifequal %}

<script type="text/javascript">
	$(document).ready(
			function()
			{
				fn_inicio("{{apartado.saldo_restante}}","{{error}}");
			}
		);
</script>
{% endblock %}