{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}

{% block content %}
	<div class="col-xs-12 cls_encabezado_body">	
		<a>
			Apartado
		</a>			
	</div>

	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1">
			{%csrf_token%}	
			<div class="row cls_form_consulta">
				<div class="col-xs-12">
					<div class="panel panel-default">						
						<div class="panel-body">
							
							<div class="col-xs-8">
								
							
							<div class="row">														
								<div class="col-xs-12">
									<div class="cls_encabezado_alert " >
										<label>Información de apartado:</label>
									</div>
									<div class="panel panel-default">
										<div class="col-xs-12">
											<label>
												Folio apartado:
												<span>{{apartado.folio}}</span>
											</label>
										</div>
										<div class="col-xs-6">
											<label>
												Fecha emisión:												
											</label>
											{{apartado.fecha | date:'Y-m-d'}}
										</div>

										<div class="col-xs-6">
											<label>
												Fecha vencimiento:												
											</label>
											{{apartado.fecha_vencimiento | date:'Y-m-d'}}
										</div>
										&nbsp;
									</div>
								</div>
							</div>

							<div class="row">
								
								
								<div class="col-xs-12">
									<div class="cls_encabezado_alert " >
										<label>Cliente:</label>
									</div>
									<div class="panel panel-default">
										<div class="col-xs-12">
											<label>Nombre:</label>
											{{apartado.cliente.nombre}} {{apartado.cliente.apellido_p}} {{apartado.cliente.apellido_m}}
										</div>
										<div class="col-xs-8">
											<label>Calle:</label>
											{{apartado.cliente.calle}}
											
										</div>

										<div class="col-xs-4">
											<label>Codigo Postal:</label>
											{{apartado.cliente.codigo_postal}}											
										</div>
										<div class="col-xs-4">
											<label>No. Interior:</label>
											{{apartado.cliente.numero_interior}}
										</div>

										<div class="col-xs-8">
											<label>No. Exterior:</label>
											{{apartado.cliente.numero_exterior}}
										</div>
										<div class="col-xs-4">
											<label>Colonia:</label>
											{{apartado.cliente.colonia}}
										</div>

										<div class="col-xs-4">
											<label>Ciudad:</label>
											{{apartado.cliente.ciudad}}
										</div>

										<div class="col-xs-4">
											<label>Estado:</label>
											{{apartado.cliente.estado}}
										</div>

										<div class="col-xs-12">
											<label>Pais:</label>
											{{apartado.cliente.pais}}
										</div>

										<div class="col-xs-4">
											<label>Teléfono fijo:</label>
											{{apartado.cliente.telefono_fijo}}
										</div>

										<div class="col-xs-8">
											<label>Teléfono celular:</label>
											{{apartado.cliente.telefono_celular}}
										</div>
										&nbsp;
									</div>
								</div>

								<div class="col-xs-12">
									<div class="cls_encabezado_alert " >
										<label>Producto(s):</label>
									</div>
									<div class="panel panel-default">
										{% for d in det_boleta%}
										<div class="col-xs-12">
											{{d.descripcion}}
										</div>
										{%endfor%}
										&nbsp;
									</div>

								</div>

							</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
								
								
									<div class="col-xs-12">
										<div class="cls_encabezado_alert " >
											<label>Pagar:</label>
										</div>
										<div class="panel panel-default">
											<div class="col-xs-12">
												
												
												<div class="row">
													<div class="col-xs-6">
														<label>Costo Total:</label>
													</div>
													<div class="col-xs-6 text-right">
														${{apartado.importe_venta}}
													</div>
												</div>

												<div class="row">
													<div class="col-xs-6">
														<label>Saldo restante:</label>
													</div>
													<div class="col-xs-6 text-right">
														${{apartado.saldo_restante}}
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<hr>	
													</div>
													
												</div>

												<div class="row">
													<div class="col-xs-6">
													<label>Su pago:</label>		
													</div>
													<div class="col-xs-6">
														<input type="number" id="int_su_pago" value="0" class="form-control">
													</div>													
												</div>
												<div class="row">
													<div class="col-xs-12">
														{% bootstrap_field form.abono show_label=False %}
													</div>
													
												</div>

												<div class="row">
													<div class="col-xs-6">
														<label>Abono:</label>
													</div>
													<div class="col-xs-6 text-right">
														
														<label id="lbl_abono">$0.00</label>

													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Cambio:</label>
													</div>
													<div class="col-xs-6 text-right"	> 													
														<label id="lbl_cambio">$0.00</label>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6">
														<label>Restan:</label>
													</div>
													<div class="col-xs-6 text-right"	> 													
														<label id="lbl_restan">$0.00</label>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-12">
														<button class="btn btn-primary btn-sm btn-block" id="btn_guardar"><span class="glyphicon glyphicon-usd" ></span> Pagar</button>
													</div>
												</div>
											</div>
											&nbsp;
										</div>
									</div>
								</div>
							</div>




						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="fondo_preloader">
		<div class="preloader" id="preloader">
		
		</div>
	</div>

<script type="text/javascript">
	var saldo_restante=0;//no puede abonar menos de esto
	var importe_venta=0;//si abona mas de esto, se le dara cambio
	$(document).ready(
			function()
			{
				fn_inicio();

				$("#int_su_pago").change(
					function()
					{
						fn_valida_form();
					}
				);
				$("#btn_guardar").click(
						function ()
						{
							var abono=parseInt($("#id_abono").val());
							if (abono<=0)
							{
								return false;
							}
							$("#fondo_preloader").show();
						}
					);

			}
	);
	function fn_inicio()
	{
		
		$("#btn_guardar").prop("disabled",true);
		
		$("#id_abono").hide();

		$("#id_abono").val("0");

		$("#fondo_preloader").hide();

		saldo_restante=parseInt("{{apartado.saldo_restante}}");
		importe_venta=parseInt("{{apartado.importe_venta}}");
	}

	function fn_valida_form()
	{

		if($("#id_abono").val()=="")
		{
			$("#id_abono").val("0");	
		}

		

		var int_su_pago=parseInt($("#int_su_pago").val());



		//si el pago es mayor al saldo resante
		//damos cambio
		if (int_su_pago>saldo_restante)
		{

			$("#id_abono").val(saldo_restante);
			$("#lbl_abono").text("$"+saldo_restante.toString()+".00");
			$("#lbl_cambio").text("$"+(int_su_pago-saldo_restante).toString()+".00");
			$("#btn_guardar").prop("disabled",false);

		}
		//si el pago es menor al saldo restante y meyor a cero
		//ctodo el pago seira a abono y no habra cambio ni restara nada
		else if(int_su_pago<=saldo_restante & int_su_pago>0)
		{
			$("#id_abono").val(int_su_pago);
			$("#lbl_abono").text("$"+int_su_pago.toString()+".00");
			$("#lbl_cambio").text("$0.00");
			$("#btn_guardar").prop("disabled",false);
		}
		//si el pago es menor a cero no hace nada
		else
		{

			$("#id_abono").val("0");
			$("#lbl_abono").text("0");
			$("#lbl_cambio").text("0");	
			$("#btn_guardar").prop("disabled",true);
		}


		var abono=parseInt($("#id_abono").val());
		restante=saldo_restante-abono;

		$("#lbl_restan").text("$"+(restante).toString()+".00");






	}
</script>
{% endblock %}