{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{request.user.username}}: {{request.user.first_name}} {{request.user.last_name}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}

{% block content %}
	<div class="col-xs-12 cls_encabezado_body">
	
	<div class="col-xs-10">
			<a >
				Abrir Caja
			</a>				
		</div>
		<div class="col-xs-2">
			<a id = "btn_ayuda" style="cursor: pointer;" >
				<span class="glyphicon glyphicon-question-sign"></span>
				Ayuda
			</a>
		</div>
	</div>
	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1">
			{%csrf_token%}
			<div class="row cls_form_consulta">
				<div class="col-xs-6">
					<div class="panel panel-default">						
						<div class="panel-body">
							<div class="col-xs-12 ">
								<label > Sucursal: {{sucursal.sucursal}}</label>					
								
							</div>

							<div class="col-xs-8 ">
								<label for=""> Fondo Inicial: ${{sucursal.saldo | floatformat:2}}</label>
								

							</div>
							
							<div class="col-xs-4">								
								<button class="btn btn-primary btn-sm" style="float: right;"   id="abrir_caja">Abrir Caja</button>								
							</div>	
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	

{% ifequal estatus '0' %}

		<div class="fondo_mensaje" >
			
		</div >
		<div class="mensaje" >	
				<div class="cls_encabezado_alert" >
					Error!!	
				</div>

				<div class="panel panel-default">	
					<label class="page-header">{{msj_error}}</label>
					<br>
					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_cajas' %}" ><span class="glyphicon glyphicon-ok"></span> 

					Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>

{% endifequal  %}

{% ifequal estatus '1' %}

		<div class="fondo_mensaje" >
			
		</div >
		<div class="mensaje" >	
				<div class="cls_encabezado_alert" >
					Aviso
				</div>

				<div class="panel panel-default">	
					<label class="page-header">La caja se abrio correctamente.</label>
					<br>
					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_cajas' %}" ><span class="glyphicon glyphicon-ok"></span> 

					Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>

{% endifequal  %}

		<div class="fondo_mensaje cls_ayuda"  >
			
		</div >
		
		<div class="mensaje cls_ayuda" >	
				<div class="cls_encabezado_alert" >
					Ayuda
				</div>

				<div class="panel panel-default">	
					<p class="page-header" style="text-align: justify;padding-left: 10px;padding-right: 10px;" >
						En esta opciòn podemos abrir caja.
						<br>
						<br>
						Para realizar cualquier operaciòn relacionada con entrada o salida de dinero (empeños, refrendos, ventas, etc) es necesario que el usuario ingrese a esta opciòn (una unica vez al dìa) e indique 
						con cuanto dinero inicio la operaciòn del dia.
						<br>
						<br>
						El sistema ya carga por default el importe con el que inicia la operaciòn del dìa en base al ultimo cierre de caja (si es la primera vez que se apertura caja, aparecera con importe cero.). Aun asi es obligatorio que el usuario abra caja para que asi pueda validar que el importe que indica el sistema sea el correcto y de no ser asi, reportarlo al administrador del sistema.
						<br>
						<br>

						Solo se apertura una caja por sucursal, pero cualquier usuario que pertenezca a esta sucursal puede realizar movimientos relacionados con entradas y salidas de dinero (empeños, refrendos, ventas, etc.). El saldo afectara a la caja unica de la sucursal pero se podra identificar que usuario realizo cada movimiento.


					</p>
					<br>

					<a class="btn btn-primary btn-sm" id="btn_aceptar_ayuda" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>

<div id="fondo_preloader">
	<div class="preloader" id="preloader">
	
	</div>
</div>


	<script type="text/javascript">
		$(document).ready(
				function()
				{


					fn_inicio();
					$("#btn_ayuda").click(
							function()
							{
								$(".cls_ayuda").show();
							}

						);
					$("#btn_aceptar_ayuda").click(
							function()
							{
							$(".cls_ayuda").hide();	
							}
						);
					$("#abrir_caja").click(
							function()
							{
								$("#fondo_preloader").show();
							}
						);
					
					
				}
			);

		function fn_inicio()
		{
			
				$("#fondo_preloader").hide();
				$(".cls_ayuda").hide();
				
		}
	</script>
	

{% endblock %}
