{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static%}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}
{% block content %}
	<div class="col-xs-12 cls_encabezado_body">
	
		<a >
			Administración interes de empeño
		</a>		
	
	</div>

		<div class="col-xs-12">
				<form method="post" action="#" class="cls_form_1">
					{%csrf_token%}
					<div class="row cls_form_consulta">
						<div class="col-xs-12">
							<div class="panel panel-default">						
								<div class="panel-body">
									<div class="col-xs-12">
										<div class="panel panel-default">						
											<div class="panel-body">

												<div class="col-xs-3">
													<label>Sucursal</label>
													{% bootstrap_field form.sucursal show_label=False%}
												</div>
												<div class="col-xs-9">
													
												</div>

											</div>
										</div>
									</div>			
												<div class="col-xs-12">
													<div class="cls_encabezado_alert" >
														<label>Configuración interes</label>
													</div>
												<div class="panel panel-default">
												<div class="col-xs-12">
													<div class="col-xs-3">
														
													</div>

													<div class="col-xs-3">
														<label>Almacenaje</label>
													</div>

													<div class="col-xs-3">
														<label>Interes</label>
													</div>

													<div class="col-xs-3">
														<label>IVA</label>
													</div>
													
												</div>																					<div class="col-xs-12">
													<div class="col-xs-3">
														<label>Oro</label>	
													</div>
													
													<div class="col-xs-3">
														{% bootstrap_field form.almacenaje_oro show_label=False %}

													</div>

													<div class="col-xs-3">
														{% bootstrap_field form.interes_oro show_label=False %}														
														
													</div>

													<div class="col-xs-3">
														{% bootstrap_field form.iva_oro show_label=False %}		
													</div>													
												</div>
												<div class="col-xs-12">
													<div class="col-xs-3">
														<label>Plata</label>
													</div>
													
													<div class="col-xs-3">
														{% bootstrap_field form.almacenaje_plata show_label=False %}
													</div>

													<div class="col-xs-3">
														
														{% bootstrap_field form.interes_plata show_label=False %}
													</div>

													<div class="col-xs-3">
														
														{% bootstrap_field form.iva_plata show_label=False %}
													</div>													
												</div>
												<div class="col-xs-12">
													<div class="col-xs-3">
														<label>Art. varios</label>
													</div>
													
													<div class="col-xs-3">
														{% bootstrap_field form.almacenaje_art_varios show_label=False %}
													</div>

													<div class="col-xs-3">
														
														{% bootstrap_field form.interes_art_varios show_label=False %}
													</div>

													<div class="col-xs-3">
														{% bootstrap_field form.iva_art_varios show_label=False %}
														
													</div>													
												</div>

												
												&nbsp;
											</div>
										</div>

										<div class="col-xs-12 text-right">
													<button class="btn btn-primary btn-sm ">
														<span class="glyphicon glyphicon-floppy-disk"></span>
													Guardar
													</button>
										</div>
									</div>
									

								</div>
							</div>
						</div>

						
					</div>
				</form>
		</div>


		{% ifequal permiso "0" %}

			<div class="fondo_mensaje  cls_error_guardar_venta" >

			</div >

			<div class="mensaje  cls_error_guardar_venta" >
				<div class="cls_encabezado_alert" >
					Error!!
				</div>	
				<div class="panel panel-default">	
					<label class="page-header" id="msj_notificacion"> No cuentas con permiso para acceder a esta opción</label>
					<br>				
					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_administracion'%}"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
					<br>
					<br>
				</div>
			</div>

		{% endifequal %}

		{% ifequal estatus "1" %}

			<div class="fondo_mensaje  " >

			</div >

			<div class="mensaje  " >
				<div class="cls_encabezado_alert" >
					Aviso
				</div>	
				<div class="panel panel-default">	
					<label class="page-header" id="msj_notificacion"> Se actualizo correctamente la información.</label>
					<br>				
					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_administracion'%}"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
					<br>
					<br>
				</div>
			</div>

		{% endifequal %}


			<div class="fondo_mensaje  cls_error_consulta_configuracion" >

			</div >

			<div class="mensaje  cls_error_consulta_configuracion" >
				<div class="cls_encabezado_alert" >
					Error!!
				</div>	
				<div class="panel panel-default">	
					<label class="page-header" id="msj_notificacion">Error al consultar la configuracion.</label>
					<br>				
					<a class="btn btn-primary btn-sm" id="aceptar_error_config"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
					<br>
					<br>
				</div>
			</div>

		<div id="fondo_preloader">
			<div class="preloader" id="preloader">
			
			</div>
		</div>

		<script type="text/javascript">
			
			$(document).ready(
					function()
					{
						fn_inicio();

						$("#id_sucursal").change(
							function()
							{
								fn_get_configuracion_interes_empeno();
							}
						);	
						$("#aceptar_error_config").click(
							function()
							{
								$(".cls_error_consulta_configuracion").hide();
							}	
						);			

					}
			);

			function fn_inicio()
			{
				$("#fondo_preloader").hide();
				$(".cls_error_consulta_configuracion").hide();
			}

			function fn_get_configuracion_interes_empeno()
			{
				$("#fondo_preloader").show();
				$.ajax(
						{
							"type" : "GET",
							 url : "{{IP_LOCAL}}/empenos/api_consulta_configuracion_empeno/",
							 data : {"id_sucursal" : $("#id_sucursal").val()},
							 contentType: "application/json; charset=utf-8",
			        		dataType: "json",
			        		success : function(data)
			        		{
								$("#id_almacenaje_oro").val(data[0].almacenaje_oro);
								$("#id_almacenaje_plata").val(data[0].almacenaje_plata);
								$("#id_almacenaje_art_varios").val(data[0].almacenaje_prod_varios);

								$("#id_interes_oro").val(data[0].interes_oro);
								$("#id_interes_plata").val(data[0].interes_plata);
								$("#id_interes_art_varios").val(data[0].interes_prod_varios);

								$("#id_iva_oro").val(data[0].iva_oro);
								$("#id_iva_plata").val(data[0].iva_plata);
								$("#id_iva_art_varios").val(data[0].iva_prod_varios);

			        			$("#fondo_preloader").hide();
			        		},
			        		error : function(err)
			        		{
			        			$(".cls_error_consulta_configuracion").show();
			        			$("#fondo_preloader").hide();
			        		},
			        		failure : function(f)
			        		{
			        			$(".cls_error_consulta_configuracion").show();
			        			$("#fondo_preloader").hide();
			        		}

						}
					);
			}
			
		</script>

{% endblock %}