{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static%}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}
{% block content %}
	<div class="col-xs-12 cls_encabezado_body">
		<a>
			Conceptos retiro.
		</a>	
	</div>

	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1" id="form_principal">
			{%csrf_token%}  
			<div class="row cls_form_consulta">

				<div class="col-xs-12">
					<div class="panel panel-default" id="panel_principal" >						 
						<div class="panel-body">

							<div class="col-xs-12">
								<div class="panel panel-default">						
									<div class="panel-body">

										<div class="col-xs-3"  >
											<label for="">Sucursal</label>
											{% bootstrap_field form.sucursal show_label=False %}
										</div>

										<div class="col-xs-3">						

											
											<a class="btn btn-primary btn-sm" style="margin-top: 25px;" id="btn_agregar_concepto">
												<span class="glyphicon glyphicon-plus">
													
												</span>
												Agregar concepto
											</a>
																		
										</div>	
									</div>
								</div>
							</div>


							<div class="col-xs-12">
								<div class="cls_encabezado_alert " >
									<label>Conceptos Retiro</label>
								</div>

									<table id="tabla_conceptos_retiro" class="table table-bordered">
									    <thead>
									      <tr>
									      	<th style="width: 10%"></th>
									        <th style="width: 70%;">Concepto</th>	
									        <th style="width: 20%;text-align: right;">Importe Retiro</th>								        
									        
									      </tr>
									    </thead>

									    <tbody>

									    </tbody>
									</table>
								</div>

						</div>
					</div>
				</div>

			</div>
		</form>
	</div>


	<div class="cls_form_emergente_2 cls_alta_concepto" style="width: 20%;left: 40%;overflow: visible; " >		
		<div class="cls_encabezado_alert" >
			<label>
			Alta concepto retiro
			</label>

		</div>

	
		<div class="col-xs-12">
			<br>	
			<label>Concepto</label>
			<input type="text" name="" id="txt_concepto" maxlength="40" class="form-control">
			<div class="help-block" id="id_error_desc_concepto">
					<span id="error_kilataje">
					Debe indicar la descripción del concepto.			
					</span>
			</div>

		</div>
		<div class="col-xs-12">
			<br>	
			<label>Importe maximo</label>
			<input type="number" id="int_importe" class="form-control" name="">		
			<div class="help-block" id="id_error_importe">
					<span id="error_kilataje">
					Debe indicar el importe de retiro
					</span>
			</div>
	 
		</div>
		<div class="col-xs-12 text-center">
			<br>	
			<a class="btn btn-primary btn-sm" id="btn_guardar_concepto"> 
				<span class="glyphicon glyphicon-floppy-disk">
					
				</span>
			Guardar</a>

			<br><br>
		</div>


		
	</div>	

	<div class="fondo_mensaje cls_alta_concepto" id="fondo_alta_concepto">
		
	</div>

	<div class="cls_form_emergente_2 cls_form_actualiza" style="width: 20%;left: 40%;overflow: visible; ">		
		<div class="cls_encabezado_alert" >
			<label>
			Actualiza importe maximo retiro
			</label>

		</div>

		
		<div class="col-xs-12">
			<br>
			<label>Importe maximo</label>
			<input type="number" id="int_importe_act" class="form-control" name="">	
			<div class="help-block" id="id_error_importe_edita">
					<span id="error_kilataje">
					Debe indicar el importe de retiro
					</span>
			</div>

		</div>
		<div class="col-xs-12 text-center">
			<br>
			
			<a class="btn btn-primary btn-sm" id="btn_guardar_importe" > 
				<span class="glyphicon glyphicon-floppy-disk">					
				</span>
			Guardar</a>
			<br><br>
		</div>


	</div>	

	<div class="fondo_mensaje cls_form_actualiza" id="fondo_actualiza">
		
	</div>

	{% ifequal estatus '1' %}
		<div class="fondo_mensaje " >
			
		</div >
		<div class="mensaje" >	
				<div class="cls_encabezado_alert" >
					Aviso
				</div>

				<div class="panel panel-default">	
					<label class="page-header">Se actualizo correctamente.</label>
					<br>

					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_administracion' %}" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>
	{% endifequal  %}


	{% ifequal permiso '0' %}

		<div class="fondo_mensaje " >
			
		</div >
		<div class="mensaje" >	
				<div class="cls_encabezado_alert" >
					Aviso
				</div>

				<div class="panel panel-default">	
					<label class="page-header">No cuentas con permiso para acceder a esta opción.</label>
					<br>

					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_administracion' %}" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>

	{% endifequal  %}



		<div class="fondo_mensaje cls_confirma_eliminar_concepto" >
			
		</div >
		<div class="mensaje cls_confirma_eliminar_concepto" >	
				<div class="cls_encabezado_alert" >
					Aviso
				</div>

				<div class="panel panel-default">	
					<label class="page-header" >Se eliminara permanentemente el concepto de retiro, ¿desea continuar?</label>

					<br>

					<a class="btn btn-primary btn-sm" id="btn_no_aceptar_eliminara" ><span class="glyphicon glyphicon-remove"></span> Cancelar</a>		

					<a class="btn btn-primary btn-sm" id="btn_confirma_eliminar" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>



		<div class="fondo_mensaje cls_error_guardar_concepto" >
			
		</div >
		<div class="mensaje cls_error_guardar_concepto" >	
				<div class="cls_encabezado_alert" >
					Error!!
				</div>

				<div class="panel panel-default">	
					<label class="page-header" id="mensaje_error"></label>
					<br>

					<a class="btn btn-primary btn-sm" id="btn_aceptar_error" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>

		<div class="fondo_mensaje cls_error_cargar_concepto" >
			
		</div >
		<div class="mensaje cls_error_cargar_concepto" >	
				<div class="cls_encabezado_alert" >
					Error!!
				</div>

				<div class="panel panel-default">	
					<label class="page-header" id="mensaje_error_carga_concepto"></label>
					<br>

					<a class="btn btn-primary btn-sm" id="btn_aceptar_error_concepto" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>
		<div class="fondo_mensaje cls_error_eliminar_concepto" >
			
		</div >
		<div class="mensaje cls_error_eliminar_concepto" >	
				<div class="cls_encabezado_alert" >
					Error!!
				</div>

				<div class="panel panel-default">	
					<label class="page-header" id="mensaje_error_eliminar_concepto"></label>
					<br>

					<a class="btn btn-primary btn-sm" id="btn_aceptar_error_eliminar" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>

		<div class="fondo_mensaje cls_error_actualiza" id="fondo_error_actualiza" >
			
		</div >
		
		<div class="mensaje cls_error_actualiza" >	
				<div class="cls_encabezado_alert" >
					Error!!
				</div>

				<div class="panel panel-default">	
					<label class="page-header" id="mensaje_error_actualiza"></label>
					<br>

					<a class="btn btn-primary btn-sm" id="btn_aceptar_error_actualiza" ><span class="glyphicon glyphicon-ok"></span> Aceptar</a>		
					<br>
					<br>		

				</div>
		</div>



	<div id="fondo_preloader">
		<div class="preloader" id="preloader">
		
		</div>
	</div>
	<script type="text/javascript">
		var id_concepto="0";
		$(document).ready(
			function()
			{
				
				fn_inicio();
				$("#id_sucursal").change(
						function()
						{
							if($("#id_sucursal").val()!="")
							{
								$("#btn_agregar_concepto").show();
								fn_carga_conceptos();
							}
							else
							{
								$("#btn_agregar_concepto").hide();
							}
						}
					);
				$("#btn_agregar_concepto").click(
						function()
						{
							$(".cls_alta_concepto").show();
							$("#txt_concepto").val("");
							$("#int_importe").val("");
						}
					);

				$("#fondo_alta_concepto").click(
					function()
					{
						$(".cls_alta_concepto").hide();			
					}
					);
				$("#btn_guardar_concepto").click(
					function()
					{
						fn_agrega_concepto();
					}
					);
				$("#btn_aceptar_error_concepto").click(
					function ()
					{
						$(".cls_error_cargar_concepto").hide();
					}
				);
					
				$("#btn_aceptar_error").click(
						function()
						{
							$(".cls_error_guardar_concepto").hide();
						}
					);
				$("#btn_no_aceptar_eliminara").click(
						function()
						{
							$(".cls_confirma_eliminar_concepto").hide();
						}
					);
				$("#btn_confirma_eliminar").click(
						function()
						{
							$(".cls_confirma_eliminar_concepto").hide();
							fn_eliminar_concepto();
						}
					);
				$("#btn_aceptar_error_eliminar").click(
						function()
						{
							$(".cls_error_eliminar_concepto").hide();
						}
					);
				$("#fondo_actualiza").click(
					function()
					{
						$(".cls_form_actualiza").hide();
					}
					);
				$("#btn_guardar_importe").click(
						function ()
						{
							fn_actualiza_importe_retiro();
						}
					);
				$("#btn_aceptar_error_actualiza").click(
						function()
						{
							$(".cls_error_actualiza").hide();
						}
					);
				$("#fondo_error_actualiza").click(
					function()
					{
						$(".cls_error_actualiza").hide();
					}
				);

			}
		);

		function fn_inicio()
		{
			$("#id_error_importe").hide();
			$("#id_error_desc_concepto").hide();
			$("#id_error_importe_edita").hide();
			
			$("#btn_agregar_concepto").hide();
			$("#fondo_preloader").hide();
			$(".cls_alta_concepto").hide();
			$(".cls_error_guardar_concepto").hide();
			$(".cls_error_cargar_concepto").hide();
			$(".cls_confirma_eliminar_concepto").hide();
			$(".cls_error_eliminar_concepto").hide();
			$(".cls_form_actualiza").hide();
			$(".cls_error_actualiza").hide();
		}


		function fn_actualiza_importe_retiro()
		{
			
			$("#id_error_importe_edita").show();
			if ($("#int_importe_act").val() == "0" || $("#int_importe_act").val() =="" )
			{
				$("#id_error_importe_edita").show();
				return false
			}

			$("#fondo_preloader").show();
			$(".cls_form_actualiza").hide();
			
			var dataval={};
			dataval["id_concepto"] = id_concepto;
			dataval["id_usuario"] = "{{id_usuario}}";
			dataval["importe_maximo_retiro"] = $("#int_importe_act").val();
			var datajson=JSON.stringify(dataval);
			$.ajax(
				{
					type : "PUT",
					url : "{{IP_LOCAL}}/empenos/api_concepto_retiro/",
					data : datajson,
					contentType: "application/json; charset=utf-8",
					datatype : "json",
					headers: {
						       'X-CSRFToken': "{{csrf_token}}"
						   	},
					success : function(data)
					{
						if (data[0].estatus == "0")
						{

							$("#mensaje_error_actualiza").text("Error al actualizar el importe de retiro.");
							$(".cls_error_actualiza").show();
						}
						else
						{

							fn_carga_conceptos();
						}
						$("#fondo_preloader").hide();
					},
					error : function(err)
					{

						$("#mensaje_error_actualiza").text("Error al actualizar el importe de retiro.");
						$(".cls_error_actualiza").show();
						$("#fondo_preloader").hide();
					},
					failure : function(f)
					{
						$("#mensaje_error_actualiza").text("Error al actualizar el importe de retiro.");
						$(".cls_error_actualiza").show();

						$("#fondo_preloader").hide();
					}

				}
			);

		}
		
		function fn_eliminar_concepto()
		{
			$("#fondo_preloader").show();
			var dataVal = {};
			dataVal["id_concepto"] = id_concepto;
        	dataVal["id_usuario"] = "{{id_usuario}}";      	        	
        	var forminput = JSON.stringify(dataVal);

			$.ajax(
					{
							type : 'DELETE',
							url : "{{IP_LOCAL}}/empenos/api_concepto_retiro/",
							data : forminput,
							contentType: "application/json; charset=utf-8",
							datatype : "json",							
						 	headers: {
						       'X-CSRFToken': "{{csrf_token}}"
						   	},
							success : function(data)
							{												
								if (data[0].estatus == "0")
								{
									$("#mensaje_error_eliminar_concepto").text("Error al eliminar el concepto");
									$(".cls_error_eliminar_concepto").show();
									$("#fondo_preloader").hide();
								}
								else
								{
									fn_carga_conceptos();
								}

								$("#fondo_preloader").hide();

							},
							error : function(err)
							{
								$("#mensaje_error_eliminar_concepto").text("Error al eliminar el concepto");
								$(".cls_error_eliminar_concepto").show();
								$("#fondo_preloader").hide();
							},
							failure : function(f)
							{
								$("#mensaje_error_eliminar_concepto").text("Error al eliminar el concepto");
								$(".cls_error_eliminar_concepto").show();
								$("#fondo_preloader").hide();
							}
			
					}


				);
		}

		function fn_carga_conceptos()
		{
			$("#fondo_preloader").show();

			$("#tabla_conceptos_retiro tbody tr").remove();
			$.ajax(
				{

					type : "GET",
					url : "{{IP_LOCAL}}/empenos/api_concepto_retiro/",
					data : {
						id_sucursal : $("#id_sucursal").val()
					},
					contentType : "application/json; charset=utf-8",
					datatype : "json",
					success : function(data)
					{
						if (data[0].estatus == "0")
						{
							$("#mensaje_error_carga_concepto").text("Error al cargar los conceptos de retiro");
							$(".cls_error_cargar_concepto").show();						
						}
						else
						{
							cont=data[1].lista.length;

							for (x = 0; x < cont; x++)
							{
								var htmlTags = '<tr>'+
									'<td style="width: 10%">'+
									'<a class="btn btn-default btn-sm" onclick="fn_confirma_eliminar_concepto('+data[1].lista[x].id_concepto+')"><span class="glyphicon glyphicon-remove"></span></a>'+
									'<a class="btn btn-default btn-sm" onclick="fn_muestra_form_edita('+data[1].lista[x].id_concepto+')"><span class="glyphicon glyphicon-pencil"></span></a>'
									+'</td>'+
									        '<td style="width: 70%;">'+data[1].lista[x].concepto+'</td>'	+
									        '<td style="width: 20%;text-align:right">$'+data[1].lista[x].importe_maximo+'</td>	'+
								'</tr>'

								$('#tabla_conceptos_retiro tbody').append(htmlTags);
							}
							
						}

						$("#fondo_preloader").hide();

					},
					error : function (err)
					{
						$("#mensaje_error_carga_concepto").text("Error al cargar los conceptos de retiro");
						$(".cls_error_cargar_concepto").show();
						$("#fondo_preloader").hide();

					},
					failure : function (f)
					{
						$("#mensaje_error_carga_concepto").text("Error al cargar los conceptos de retiro");
						$(".cls_error_cargar_concepto").show();
						$("#fondo_preloader").hide();
					}
				}
			);
		}
		function fn_muestra_form_edita(id)
		{

			$("#id_error_importe_edita").hide();
			$(".cls_form_actualiza").show();
			id_concepto=id;	
			$("#int_importe_act").val("");

		}

		function fn_confirma_eliminar_concepto(id)
		{
			$(".cls_confirma_eliminar_concepto").show();
			id_concepto=id;
		}
		function fn_agrega_concepto()
		{	
			$("#id_error_desc_concepto").hide();	
			$("#id_error_importe").hide();
			if($("#txt_concepto").val() == "" )
			{
				$("#id_error_desc_concepto").show();	
				return false
			}
			

			if ($("#int_importe").val() == "0" || $("#int_importe").val() =="" )
			{
				$("#id_error_importe").show();
				return false
			}



			

		
			
			$("#fondo_preloader").show();

	        var dataVal = {};
        	dataVal["concepto"] = $("#txt_concepto").val();
        	dataVal["id_usuario"] = "{{id_usuario}}";
        	dataVal["importe"] = $("#int_importe").val();
        	dataVal["id_sucursal"] = $("#id_sucursal").val()
        	var forminput = JSON.stringify(dataVal);

        	
			$.ajax(
				{
					type : "POST",
					url : "{{IP_LOCAL}}/empenos/api_concepto_retiro/",
					 headers: {
					       'X-CSRFToken': "{{csrf_token}}"
					   },
					data :forminput,
					contentType: "application/json; charset=utf-8",
					datatype:"json",
					success: function(r)
					{
						console.log(r);
						
						if (r[0].estatus == "0")
						{
							console.log("entr");
							$(".cls_alta_concepto").hide();	
							$("#mensaje_error").text("Error al guardar el concepto");
							$(".cls_error_guardar_concepto").show();
						}
						else
						{
							$(".cls_alta_concepto").hide();				
							fn_carga_conceptos();
						}
						$("#fondo_preloader").hide();
					},
			        error: function (r) {
			        		
							$("#mensaje_error").text("Error al guardar el concepto");
							$(".cls_error_guardar_concepto").show();
							$("#fondo_preloader").hide();
			        },
			        failure: function (r) {
			        		$("#mensaje_error").text("Error al guardar el concepto");
							$(".cls_error_guardar_concepto").show();
							$("#fondo_preloader").hide();
			        }



				}

			);
		}
		//funcion para obtener el csrftoken y pasarlo en las peticiones ajax.
				function get_csrftoken(name) {
				    let cookieValue = null;
				    if (document.cookie && document.cookie !== '') {
				        const cookies = document.cookie.split(';');
				        for (let i = 0; i < cookies.length; i++) {
				            const cookie = cookies[i].trim();
				            // Does this cookie string begin with the name we want?
				            if (cookie.substring(0, name.length + 1) === (name + '=')) {
				                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				                break;
				            }
				        }
				    }
				    return cookieValue;
				}

	</script>


{% endblock %}