{% extends 'base.html' %}
{% load bootstrap3}
{% load static%}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}
{% block content %}
	<div class="col-xs-12 cls_encabezado_body">
	
		<a >
			Consulta Apartado
		</a>		
	
	</div>
	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1">
			{%csrf_token%}
	
			<div class="row cls_form_consulta">
				<div class="col-xs-12">
					<div class="panel panel-default" id="panel_principal" >						 
						<div class="panel-body">

							<div class="col-xs-12">
								<div class="panel panel-default">						
									<div class="panel-body">

										<div class="col-xs-3">
											<div class="col-xs-12">
												<label>
												Fecha Inicial
												</label>
												<input type="date" name="fecha_inicial"  id="id_fecha_inicial" class="form-control">
											</div>
											
												

											<div class="col-xs-12">
												<label>
												Fecha Final
												</label>										
												<input type="date" class="form-control" name="fecha_final"   id="id_fecha_final">
											</div>
										</div>

										<div class="col-xs-3">
											<label>Folio Boleta</label>
											
											<input type="number" name="folio_apartado"  id="id_folio_apartado" class="form-control">
										</div>
										<div class="col-xs-3">
											<label>Cliente</label>
											<input type="text" name="cliente"  id="id_cliente" class="form-control">
										</div>

										



										<div class="col-xs-3">
											<br>
											<button class="btn btn-primary btn-sm" id="btn_consultar">
												<span class="glyphicon glyphicon-search"></span>
												Consultar
											</button>
										</div>

									</div>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="cls_encabezado_alert text-center" >
									<label>Ventas</label>
								</div>

									<table id="tabla_cotizacion" class="table table-bordered">
									    <thead>
									      <tr>
									      	<th></th>
									        <th>Folio</th>	
									        <th>Cliente</th>								        
									        
									        <th>Costo prod</th>									        
									        <th>Restante</th>
									        <th>Fecha apar</th>
									        <th>Fecha venc</th>
									        <th>Estatus</th>
									      </tr>
									    </thead>
									    <tbody>
									    	{% for v in apartados%}
										    	<tr>
											    	<td>
										    			<a  class='btn btn-default btn-sm' href="/empenos/re_imprimir_apartado/{{v.id}}">
										    				<span class='glyphicon glyphicon-print'>

										    				</span>    					
										    			</a>

										    			{% if v.estatus.id == 1 %}
											    			<a  class='btn btn-default btn-sm' href="/empenos/abona_apartado/{{v.id}}" >
																<span class='glyphicon glyphicon-usd'>

																</span>    					
															</a>
														{% endif %}

											    	</td>
											        <td>{{v.folio}}</td>
											        <td>{{v.cliente.nombre}} {{v.cliente.apellido_p}} {{v.cliente.apellido_m}}</td>											        
											        
											        <td>${{v.importe_venta}}</td>
											        <td>${{v.saldo_restante}}</td>
											        <td>{{v.fecha | date:"d/m/Y"}}</td>
											        <td>{{v.fecha_vencimiento | date:"d/m/Y"}}</td>
											        <td>{{v.estatus.estatus}}</td>
										    	</tr>
									    	{%endfor%}
									    	
									    </tbody>
									</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	{% ifequal permiso "0" %}

	<div class="fondo_mensaje  cls_error_guardar_venta" >

	</div >

	<div class="mensaje  cls_error_guardar_venta" >
		<div class="cls_encabezado_alert" >
			Error!!
		</div>	
		<div class="panel panel-default">	
			<label class="page-header" id="msj_notificacion"> No cuentas con permiso para acceder a esta opción</label>
			<br>				
			<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_ventas'%}"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
			<br>
			<br>
		</div>
	</div>

	{% endifequal %}

	{% ifequal caja_abierta  '0' %}
	<div class="fondo_mensaje  cls_error_caja_abierta" >

	</div >

	<div class="mensaje  cls_error_caja_abierta" >
		<div class="cls_encabezado_alert" >
			Error!!
		</div>	
		<div class="panel panel-default">	
			<label class="page-header" id="msj_notificacion">Debes tener caja abierta para ingresar a esta opción.</label>
			<br>				
			<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_ventas'%}"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
			<br>
			<br>
		</div>
	</div>

{% endifequal %}


	<div id="fondo_preloader">
		<div class="preloader" id="preloader">		
		</div>
	</div>





	<script type="text/javascript">
		id_venta="";

		$(document).ready(
			function()
			{
				fn_inicio();

				$("#fondo_emergente").click(
					function()
					{

						$(".cls_agregar_importe_venta").hide();

					}
				);

				$("#id_fecha_inicial,#id_fecha_final").focusin(
						function()
						{
							$("#id_folio_apartado").val("");
							$("#id_cliente").val("");		
											
							
						}
					);
				$("#id_cliente").focusin(
						function()
						{
							$("#id_fecha_inicial,#id_fecha_final").val("");
							$("#id_folio_apartado").val("");
							$("#id_cliente").val("");
							
						}
					);
				$("#id_folio_apartado").focusin(
						function()
						{
							$("#id_fecha_inicial,#id_fecha_final").val("");
							$("#id_cliente").val("");
							$("#id_folio_apartado").val("");
							
						}
					);
				$("#id_fecha_inicial,#id_fecha_final,#id_cliente,#id_folio_apartado").focusout(
					function()
					{
						fn_habilita_busqueda();
					}
					);
			}
		);

		//si el formulario tiene valores validos, se habilita el boton de busqueda.
		function fn_habilita_busqueda()
		{
			fecha_inicial = $("#id_fecha_inicial").val();
			fecha_final = $("#id_fecha_final").val();
			cliente = $("#id_cliente").val();
			folio_apartado = $("#id_folio_apartado").val();


			if (fecha_inicial != "" & fecha_final != "")
			{
				$("#btn_consultar").prop("disabled",false);
				return 0;
			}
			if( cliente != "")
			{			
				$("#btn_consultar").prop("disabled",false);
				return 0;	
			}
			if(folio_apartado != "")
			{
				$("#btn_consultar").prop("disabled",false);
				return 0;	
			}

			$("#btn_consultar").prop("disabled",true);
			return 0;	

		}
		function fn_inicio()
		{

			$(".cls_agregar_importe_venta").hide();
			$("#fondo_preloader").hide();
			$("#id_error_importe").hide();
			$("#btn_consultar").prop("disabled",true);

		}

		function fn_agrega_importe(id)
		{
			id_venta=id;

			$(".cls_agregar_importe_venta").show();
			$("#encabezado_error").text("Importe real de venta de folio "+id_venta.toString());

		}

		function fn_agrega_importe_real_venta()
		{			
			
			$("#fondo_preloader").show();
			$.ajax({
				type: "GET",
		        url: "{{IP_LOCAL}}/empenos/api_agrega_importe_real_venta/",
		        data: {

					"id_venta":id_venta,"importe":$("#txt_importe").val(),'id_caja':"{{caja.id}}","id_usuario":"{{user_2.user.id}}"

		        },
		        contentType: "application/json; charset=utf-8",
		        dataType: "json",
		        success: function (r) {
		        	
		        	//fallo
		        	if (r[0].estatus=="0")
		        	{
		        		$("#id_error_importe").show();

		        	}
		        	else//todo correcto
		        	{

		        		location.reload();

		        	}

		        	$("#fondo_preloader").hide();
		        },
		        error: function (r) {		        		
						$("#id_error_importe").show();
						$("#fondo_preloader").hide();
		        },
		        failure: function (r) {		        		
						$("#id_error_importe").show();
						$("#fondo_preloader").hide();
		        }
			});

		}

	</script>
{%endblock%}