{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div> 

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}

{% block content %}
	<div class="col-xs-12 cls_encabezado_body">	
		<a >
			Otros Ingresos
		</a>		
	</div>

	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1">
			{%csrf_token%}
			{{form.errors}}
			<div class="row cls_form_consulta">
				<div class="col-xs-6">
					<div class="panel panel-default">						
						<div class="panel-body">
							<div class="col-xs-12 col-md-6">
								<label for=""> Importe</label>
								{% bootstrap_field form.importe  show_label=False%}
							</div>

							<div class="col-xs-12">
								<label for=""> Comentario</label>
								<input type="text" name="comentario" maxlength="50" class="form-control" placeholder="Comentario" title="" required="" id="id_comentario">
							</div>

							<div class="col-xs-12" id="tipo_movimiento">
								<label for=""> tipo_movimiento</label>
								{% bootstrap_field form.tipo_movimiento  show_label=False%}
							</div>
							<div class="col-xs-12">								
								<button class="btn btn-primary btn-sm" style="float: right;"   id="btn_ingresar_capital"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
							</div>	

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
<div id="fondo_preloader">
	<div class="preloader" id="preloader">

	</div>
</div>
<div class="fondo_mensaje_2 cls_msj_error" >

		</div >
		<div class="mensaje_2 cls_msj_error" >
				<div class="cls_encabezado_alert" >
					Error!!
				</div>
				<div class="panel panel-default">
					<label class="page-header" id="msj_error"></label>
					<br>
					<a class="btn btn-primary btn-sm" id="btn_aceptar_error">
						<span class="glyphicon glyphicon-ok"></span>
						Aceptar
					</a>
					<br>
					<br>

				</div>
		</div>
	<script type="text/javascript">
		$(document).ready(
				function()
				{
					fn_inicio();
						$("#tipo_movimiento").hide();
						$("#id_tipo_movimiento").val("2");

						$("#id_importe").change(
							function()
								{
									$("#id_importe").val(parseInt($("#id_importe").val()).toString());
							}
						);

						$("#btn_ingresar_capital").click(
							function()
							{
								var importe = $("#id_importe").val();

								var comentario = $("#id_comentario").val();

								if (importe == "" | importe == "0")
								{

									$(".cls_msj_error").show();
									$("#msj_error").text("Debe ingresar un importe valido.");
									return false;
								}

								if (parseInt(importe) < 1 )
								{								
									$(".cls_msj_error").show();
									$("#msj_error").text("Debe ingresar un importe valido.");
									return false;	
								}

								if(comentario == "")
								{
									$(".cls_msj_error").show();
									$("#msj_error").text("Debe ingresar un comentario.");
									return false;
								}

								$("#fondo_preloader").show();
							}
						);
						$("#btn_aceptar_error").click(
							function()
							{
								$(".cls_msj_error").hide();
							}
						);

					
				}
			);
			function fn_inicio()
			{
				$("#fondo_preloader").hide();
				$(".cls_msj_error").hide();

				if("{{id_ingreso}}" != "0")
				{
						window.open("/empenos/imprime_comprobante_ingreso/"+"{{id_ingreso}}"+"/",'popup', 'width=400px,height=400px')
						$(".cls_exito").show();
				}
			}
	</script>
	{% if caja_abierta == '0' %}
		<div class="fondo_mensaje" >
			
		</div >
		<div class="mensaje" >
				<div class="cls_encabezado_alert" >
					Error!!
				</div>	
				<div class="panel panel-default">	
					<label class="page-header">No cuentas con caja Abierta</label>
					<br>
					<a class="btn btn-primary" href="{% url 'seguridad:admin_cajas' %}"> <span class="glyphicon glyphicon-ok"></span> Aceptar</a>
					<br>
					<br>

				</div>
		</div>
	{% endif %}
	{% if exito == '1' %}
		<div class="fondo_mensaje" >
			
		</div >
		<div class="mensaje" >
				<div class="cls_encabezado_alert" >
					Aviso
				</div>	
				<div class="panel panel-default">	
					<label class="page-header">El ingreso se guardo correctamente.</label>
					<br>
					<a class="btn btn-primary" href="{% url 'seguridad:admin_cajas' %}"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
					<br>
					<br>

				</div>
		</div>
	{% endif %}

{% endblock %}