{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block archivos_staticos%}
<script type="text/javascript" src="{% static 'js/refrendo_semanal.js' %}"></script>
{% endblock %}

{% block usuario %}


			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{request.user.username}}: {{request.user.first_name}} {{request.user.last_name}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}

{% block content %}

	<div class="col-xs-12 cls_encabezado_body">
		<a >
			Refrendos de boleta de plazo semanal.
		</a>	
	</div>
	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1" id="form_principal">
			{%csrf_token%}  
			<div class="row cls_form_consulta">

				<div class="col-xs-12">
					<div class="panel panel-default" id="panel_principal" >						 
						<div class="panel-body">
							<div class="col-xs-8">
								<div class="col-xs-12">									
									<div class = "col-xs-12" style="padding: 0">													
										<div class="cls_encabezado_alert" >
											<label>Información de empeño.</label>
										</div>
										<div class="panel panel-default">
											<div class="row" style="padding-left: 10px;">	
												<div class="col-xs-6">
													<label>Folio:</label>
													{{boleta.folio}}
												</div>				
												<div class="col-xs-6">
													<label>Sucursal:</label>
													{{boleta.sucursal.sucursal}}
												</div>						
												<div class="col-xs-12">												
													<label>Tipo de producto: </label>	
													{{boleta.tipo_producto.tipo_producto}}					
												</div>	
												<div class="col-xs-12">
													
													
													<div class="col-xs-4">
														<label>Descripción de producto:</label>
														
													</div>

													<div class="col-xs-8">
														{% for d in det_boleta %}
														<div class="col-xs-12">
															* {{d.descripcion}}
														</div>
															  
														{% endfor %}	
														<div class="col-xs-12">
															<br>
														</div>
													</div>
												</div>
												<div class="col-xs-4">
													<label>Avaluo:</label>
													${{boleta.avaluo | floatformat:2}}
												</div>				
												<div class="col-xs-4">
													<label>Mutuo:</label>
													${{boleta.mutuo | floatformat:2}}
												</div>															
												<div class="col-xs-4">
													<label>Refrendo:</label> ${{boleta.refrendo | floatformat:2}}
												</div>	
												<div class="col-xs-12">
													<label>Plazo: </label> {{boleta.plazo.plazo}}
												</div>						
												<div class="col-xs-6">
													<label>Fecha emisión: </label> {{ boleta.fecha | date:"d/m/Y" }}
												</div>
												<div class="col-xs-6">
													<label>Fecha Vencimiento: </label> {{boleta.fecha_vencimiento | date:"d/m/Y"}}
												</div>
												<div class="col-xs-12">
													<label>Estatus: </label>
													{{boleta.estatus.estatus}}
												</div>
												&nbsp;
											</div>
										</div>
									</div>

									<div class = "col-xs-12" style="padding: 0">													<div class="cls_encabezado_alert" >
											<label>Información de cliente.</label>
										</div>

										<div class="panel panel-default" >
											<div class="row" style="padding-left: 10px;">											
												<div class="col-xs-12">												
														<label>Nombre: </label>	
														{{boleta.cliente.nombre}} {{boleta.cliente.apellido_p }} {{boleta.cliente.apellido_m }}
												</div>	
												<div class="col-xs-12">
													<label>Cotitular:</label>
													{{boleta.nombre_cotitular}} {{boleta.apellido_p_cotitular}} {{boleta.apellido_m_cotitular}}
												</div>
												<div class="col-xs-8">
													<label>Calle:</label>
													{{boleta.cliente.calle}}												
												</div>				
												<div class="col-xs-4">
													<label>CP: </label> {{boleta.cliente.codigo_postal}}
												</div>

												<div class="col-xs-4">
													<label>Número interior: </label> {{boleta.cliente.numero_interior}}
												</div>

												<div class="col-xs-8">
													<label>Número exterior: </label> {{boleta.cliente.numero_exterior}}
												</div>
												<div class="col-xs-4">
													<label>Colonia: </label> {{boleta.cliente.colonia}}
												</div>
												<div class="col-xs-4">
													<label>Ciudad: </label> {{boleta.cliente.ciudad}}
												</div>
												<div class="col-xs-4">
													<label>Estado: </label> {{boleta.cliente.estado}}
												</div>
												<div class="col-xs-12">
													<label>Pais: </label> {{boleta.cliente.pais}}
												</div>
												<div class="col-xs-6">
													<label>Telefono fijo: </label> {{boleta.cliente.telefono_fijo}}
												</div>
												<div class="col-xs-6">
													<label>Telefono celular: </label> {{boleta.cliente.telefono_celular}}
												</div>
											</div>
											&nbsp;
										</div>
									</div>
								</div>								
							</div>
							<div class="col-xs-4">
								<div class="col-xs-12">
	
									<div class="cls_encabezado_alert " >
										<div class="row">
											<div class ="col-xs-12">
												<label>Resumen.</label>	
											</div>											
										</div>																			
									</div>

									<div class="panel panel-default" style="padding:5px;">
										<div class="row">
											<div class="col-xs-8">												
													<label>Semanas usadas: </label>	
											</div>	
											<div class="col-xs-4 text-right">
												<p>{{max_semanas_refrendar}}</p>
											</div>
										</div>																			
										<div class="row">
											<div class="col-xs-8">												
													<label>Semanas vencidas: </label>	
											</div>	
											<div class="col-xs-4 text-right">
													<p>{{semanas_vencidas }}</p>
											</div>
										</div>	

										<div class="row">
											<div class="col-xs-8">												
													<label>Semanas min a refrendar: </label>	
											</div>	
											<div class="col-xs-4 text-right">
													<p>{{min_semanas_refrendar }}</p>
											</div>
										</div>	
										<div class="row">
											<div class="col-xs-8">												
													<label>Dias vencido: </label>	
											</div>	
											<div class="col-xs-4 text-right">
													<p>{{dias_vencido }}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-8">												
													<label>Pago por semana: </label>	
											</div>	
											<div class="col-xs-4 text-right">
													<p>${{importe_refrendo | floatformat:2 }}</p>
											</div>
										</div>																			
									</div>

									<div class="cls_encabezado_alert " >
										<div class="row">
											<div class ="col-xs-12">
												<label>Refrendar.</label>	
											</div>
										</div>
									</div>
									<div class="panel panel-default" style="padding:5px;">
										<div class="row">
											<div class="col-xs-6">												
													<label>Semanas a refrendar: </label>	
											</div>	
											<div class="col-xs-6">
												<input type="number" name="semanas_refrendar" id = "int_semanas_a_refrendar" class="form-control text-right">
											</div>
										</div>


										<div class="row">
											<div class="col-xs-6">
												<label>Sub total: </label>
											</div>
											<div class="col-xs-6 text-right">
												<p id="p_subtotal">$0.00</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<label>Comisión PG: </label>
											</div>
											<div class="col-xs-6 text-right">
												<p id="p_comisionpg">${{importe_compg | floatformat:2}}</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<label>Descuento (comisión pg): </label>
											</div>
											<div class="col-xs-6 text-right">
												<p id="p_descuento">$0.00</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">												
													<label>Abono a capital (en pesos): </label>	
											</div>	
											<div class="col-xs-6">
												<input type="number" name="abono_capital" id = "int_abono_capital" class="form-control text-right">
											</div>
										</div>
										<div class="row">
											
											<div class="col-xs-12 text-right" >
												<a style="cursor: pointer;" id="btn_simulacion">Ver simulación prox pagos.</a>
											</div>
										</div>
											<div class="row">
											<div class="col-xs-12">
												<hr>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<label>Total a pagar:</label>
											</div>
											<div class="col-xs-6 text-right">
												<p id="p_total_pagar">$0.00</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<hr>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<label>Recibí:</label>												
											</div>
											<div class="col-xs-6">
												<input type="number" id = "int_importe_recibi" value="0" class="form-control text-right">												
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<br>
												<label>Cambio:</label>
											</div>
											<div class="col-xs-6 text-right">
												<br>
												<label id = "lbl_cambio">$0.00</label>
											</div>
										</div>

										<div class="row">
											<div class= "col-xs-6 text-center">
												<a href="{% url 'empenos:consulta_boleta' %}" class="btn btn-primary btn-block ">
													<span class="glyphicon"><<</span>
													 Volver
												</a>
											</div>
											<div class="col-xs-6 text-center">
												<a class="btn btn-primary btn-block " style="cursor: pointer;" id="btn_refrendar">
													<span class="glyphicon glyphicon-usd"></span>
													Refrendar
												</a>
											</div>
										</div>
										
									</div>
									

								</div>								
							</div>
								
						</div>
					</div>
				</div>
			</div>
			<a class="btn btn-primary" href="{% url 'empenos:imprime_abono' %}" id="imprime_abono" style="display: none;">Aceptar</a>
			
		</form>
	</div>

	{%ifequal estatus '0' %}

	<div class="fondo_mensaje " >
	</div >

	<div class="mensaje " >
		<div class="cls_encabezado_alert" >
			Error!!
		</div>	
		<div class="panel panel-default">	
			<label class="page-header" id="msj_notificacion">{{msj_error}}</label>
			<br>				
			<a class="btn btn-primary btn-sm" href="{%url 'seguridad:admin_empenos' %}"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
			<br>
			<br>
		</div>
	</div>
	{%endifequal%}

	<div class="fondo_mensaje cls_mensaje_error" >
	</div >
	<div class="mensaje cls_mensaje_error" >
		<div class="cls_encabezado_alert" >
			Error!!
		</div>	
		<div class="panel panel-default">	
			<label class="page-header" id="msj_error"></label>
			<br>				
			<a class="btn btn-primary btn-sm" id="btn_aceptar_error">
				<span class="glyphicon glyphicon-ok">				
				</span> 
				Aceptar
			</a>
			<br>
			<br>
		</div>
	</div>

	<div class="fondo_mensaje cls_msj_exito" >
	</div >
	<div class="mensaje cls_msj_exito" >
		<div class="cls_encabezado_alert" >
			Aviso
		</div>	
		<div class="panel panel-default">	
			<label class="page-header" >El refrendo se aplico correctamente.</label>
			<br>				
			<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_empenos' %}">
				<span class="glyphicon glyphicon-ok">				
				</span> 
				Aceptar
			</a>
			<br>
			<br>
		</div>
	</div>


	<div class="fondo_mensaje cls_form_simulacion" id="div_fondo_form_simulacion">
	</div >
	<div class="cls_form_emergente cls_form_simulacion" style="width: 400px; text-align: center;">
		<div class="cls_encabezado_alert" >
			<label>Simulación proximos pagos.</label>
		</div>
		
		<div class="row"  style="padding: 10px;">
			<div class="col-xs-12">
				<p id="lbl_nuevo_mutuo">Nuevo mutuo: $0.00</p>
			</div>

			<div class="col-xs-12">
				<hr>
			</div>

			<div class="col-xs-6">
				<p id="pago_simulacion_1"></p>	
			</div>
			<div class="col-xs-6">
				<p id="pago_simulacion_1_pesos"> Importe: $0.00</p>	
			</div>

			<div class="col-xs-6">
				<p id="pago_simulacion_2"></p>	
			</div>

			<div class="col-xs-6">
				<p id="pago_simulacion_2_pesos"> Importe: $0.00</p>	
			</div>

			<div class="col-xs-6">
				<p id="pago_simulacion_3"></p>	
			</div>

			<div class="col-xs-6">
				<p id="pago_simulacion_3_pesos"> Importe: $0.00</p>	
			</div>

			<div class="col-xs-6">
				<p id="pago_simulacion_4"></p>	
			</div>

			<div class="col-xs-6">
				<p id="pago_simulacion_4_pesos"> Importe: $0.00</p>	
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 text-center">
				<p>Nueva fecha vencimiento: </p><br>
				<label id="nueva_fecha_vencimiento" style="font-size: 20px;"></label>
			</div>
			<div class="col-xs-12">
				<hr>
			</div>
			<div class="col-xs-12 text-center">
				<a class="btn btn-primary btn-sm" id="btn_continuar_simulacion">
					Continuar
					<span class="glyphicon"> >> </span>
				</a>
			</div>
		</div>
	</div>
	<div id="fondo_preloader">
		<div class="preloader" id="preloader">
		
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(
				function()
				{
					fn_inicio("{{min_semanas_refrendar}}","{{max_semanas_refrendar}}","{{importe_refrendo}}","{{importe_compg}}","{{dias_vencido}}","{{boleta.id}}","{{IP_LOCAL}}","{{boleta.mutuo}}","{{csrf_token}}","{{request.user.id}}","{{caja.id}}");		
				}
			);
		
		

	</script>
{% endblock %}


