{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}
{% block content %}

	<div class="col-xs-12 cls_encabezado_body">
	
		<a >
			Flujo de Caja
		</a>		
	
	</div>

		<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1">
			{%csrf_token%}
	
			<div class="row cls_form_consulta">
				<div class="col-xs-12">
					<div class="panel panel-default" id="panel_principal" >						 
											<div class="panel-body">

												<div class="col-xs-12">
													<div class="panel panel-default">						
														<div class="panel-body">
															<div class="col-xs-3">
																<label>Sucursal</label>										
																<select name="sucursal" class="form-control" title="" id="id_sucursal">
																  <option value="" selected="">---------</option>

																  {% for s in sucursales %}
																  <option value="{{s.id}}">{{s.sucursal}}</option>			
																  {% endfor %}											  

																</select>

															</div>
															<div class="col-xs-3">
																<label>Fecha Inicial</label>
																<input type="date" name="fecha_inicial" class="form-control" placeholder="Fecha inicial" title="" required="" id="id_fecha_inicial">
															</div>
															<div class="col-xs-3">
																<label>Fecha Final</label>
																<input type="date" name="fecha_final" class="form-control" placeholder="Fecha final" title="" required="" id="id_fecha_final">
															</div>
															<div class="col-xs-3">
																<br>
																<button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span> Consultar</button>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-xs-12">
												<hr>
											</div>

											<div class="col-xs-12">								
												<div class="col-xs-4">
													<label>Sucursal: <span id="span_sucursal">{{txt_sucursal}}</span></label>
												</div>
												<div class="col-xs-4">
													<label>Fecha Inicial: <span id="span_fecha_inicial">{{fecha_inicial | date:'Y-m-d' }}</span></label>
												</div>
												<div class="col-xs-4">
													<label>Fecha Final: <span id="span_fecha_final">{{fecha_inicial | date:'Y-m-d'}}</span></label>
												</div>
											</div>
															<div class="col-xs-12">
																<br>
																<br>
																<div class="col-xs-4">
																	<div class="cls_encabezado_alert" >
																		<label>Reporte de Período</label>
																	</div>
																	<div class="panel panel-default">

																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				<label>Entradas</label>
																			</div>
																			<div class="col-xs-2">
																				<label>Cant.</label>
																				
																			</div>
																			<div class="col-xs-5 text-right">
																				<label>Importe</label>
																			</div>	
																		</div>
																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Saldo Inicial
																			</div>
																			<div class="col-xs-2">

																				
																			</div>
																			<div class="col-xs-5 text-right">
																				${{saldo_inicial}}
																			</div>	
																		</div>



																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Desempeño
																			</div>
																			<div class="col-xs-2">											
																				{{cont_desempenos}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_desempenos}}
																			</div>	
																		</div>
																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Abono Capital
																			</div>
																			<div class="col-xs-2">											
																				{{cont_capital}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_capital}}
																			</div>	
																		</div>
																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Refrendos
																			</div>
																			<div class="col-xs-2">											
																				{{cont_refrendos}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_refrendo}}
																			</div>	
																		</div>
																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Comision PG
																			</div>
																			<div class="col-xs-2">											
																				{{cont_com_pg}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_com_pg}}
																			</div>	
																		</div>

																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Otros Ingresos
																			</div>
																			<div class="col-xs-2">											
																				{{cont_otros}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_otros}}
																			</div>	
																		</div>


																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				<p>Ventas:</p>
																			</div>
																			<div class="col-xs-2">	
																				<p id="cont_ventas">{{cont_ventas}}</p>
																			</div>
																			<div class="col-xs-5 text-right">
																				<p id="importe_ventas">${{importe_ventas}}</p>
																			</div>
																		</div>

																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				<p>Ing Apartado:</p>
																			</div>
																			<div class="col-xs-2">	
																				<p id="cont_ventas">{{cont_ab_apartado}}</p>
																			</div>
																			<div class="col-xs-5 text-right">
																				<p id="importe_ventas">${{importe_ab_apartado}}</p>
																			</div>
																		</div>



																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				<label>Salidas</label>
																			</div>
																			<div class="col-xs-2">
																				<label>Cant.</label>
																				
																			</div>
																			<div class="col-xs-5 text-right">
																				<label>Importe</label>
																			</div>	
																		</div>



																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Empeños
																			</div>
																			<div class="col-xs-2">											
																				{{cont_empenos}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_empenos}}
																			</div>	
																		</div>



																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Retiros
																			</div>
																			<div class="col-xs-2">							
																				{{cont_retiros}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_retiros}}
																			</div>	
																		</div>





																		<div class="col-xs-12">
																			<hr>
																		</div>

																		<div class="col-xs-12">
																			<div class="col-xs-5">
																				Total
																			</div>
																			<div class="col-xs-2">											
																				{{cont_total}}
																			</div>
																			<div class="col-xs-5 text-right">
																				${{importe_total}}
																			</div>	
																		</div>

																		&nbsp;
																	</div>
																</div>	
																			
														<div class="col-xs-8">
															<div class="col-xs-12">
																
															

																<div class="cls_encabezado_alert" >
																	<label>Resumen de venta de período</label>
																</div>
																<div class="panel panel-default">
																	<div class="col-xs-12">
																		<div class="col-xs-3">
																			
																		</div>
																		<div class="col-xs-1">											
																			<label>Cant.</label>
																		</div>
																		<div class="col-xs-2 text-right">
																			
																			<label>Mutuo</label>
																		</div>	

																		<div class="col-xs-2 text-right">
																			<label>Avaluo</label>
																			
																		</div>	

																		<div class="col-xs-2 text-right">
																			
																			<label>Venta</label>
																		</div>	


																		<div class="col-xs-2 text-right">
																			
																			<label>Utilidad</label>
																		</div>	

																	</div>
																	<div class="col-xs-12">
																		<div class="col-xs-3">
																			Venta Piso
																		</div>
																		<div class="col-xs-1">											
																			{{cont_venta_piso}}
																		</div>
																		<div class="col-xs-2 text-right">
																			
																			${{importe_mutuo_piso}}
																		</div>	

																		<div class="col-xs-2 text-right">
																			${{importe_avaluo_piso}}
																			
																		</div>	

																		<div class="col-xs-2 text-right">
																			
																			${{importe_venta_piso}}
																		</div>	


																		<div class="col-xs-2 text-right">
																			
																			${{utilidad_vta_piso}}
																		</div>	

																	</div>
																	<div class="col-xs-12">
																		<div class="col-xs-3">
																			Venta Granel
																		</div>
																		<div class="col-xs-1">											
																			{{cont_venta_granel}}
																		</div>
																		<div class="col-xs-2 text-right">
																			${{importe_mutuo_granel}}
																			
																		</div>	

																		<div class="col-xs-2 text-right">
																			
																			${{importe_avaluo_granel}}
																		</div>	

																		<div class="col-xs-2 text-right">
																			
																			${{importe_venta_granel}}
																		</div>	


																		<div class="col-xs-2 text-right">
																			
																			${{utilidad_vta_granel}}
																		</div>	

																	</div>
																	<div class="col-xs-12">
																		<hr>
																	</div>
																			<div class="col-xs-12">
																		<div class="col-xs-3">
																			Total
																		</div>
																		<div class="col-xs-1">											
																			{{cont_total_vta}}
																		</div>
																		<div class="col-xs-2 text-right">
																			${{tot_mutuo}}
																			
																		</div>	

																		<div class="col-xs-2 text-right">
																			
																			${{tot_avaluo}}
																		</div>	

																		<div class="col-xs-2 text-right">
																			
																			${{tot_venta}}
																		</div>	


																		<div class="col-xs-2 text-right">
																			
																			${{tot_utilidad_vta}}
																		</div>	

																	</div>

																	&nbsp;
																</div>
															</div>
															<div class="col-xs-12">
																<br>
															</div>
															<div class="col-xs-12">
																
												

															<div class="cls_encabezado_alert" >
																<label>Estatus de cartera</label>
															</div>
															<div class="panel panel-default">
																<div class="col-xs-12">
																	<div class="col-xs-4">
																		
																	</div>
																	<div class="col-xs-2">											
																		<label>Cantidad</label>
																	</div>
																	<div class="col-xs-3 text-right">
																		
																		<label>Mutuo</label>
																	</div>	

																	<div class="col-xs-3 text-right">
																		<label>Avaluo</label>
																		
																	</div>	

																</div>

																<div class="col-xs-12">
																	<div class="col-xs-4">
																		Boleta Activa
																	</div>
																	<div class="col-xs-2">											
																		{{cont_activas}}
																	</div>
																	<div class="col-xs-3 text-right">
																		${{mutuo_activo}}
																	</div>	

																	<div class="col-xs-3 text-right">
																		${{avaluo_activo}}
																	</div>	
								

																</div>


																<div class="col-xs-12">
																	<div class="col-xs-4">
																		Boleta Almoneda
																	</div>
																	<div class="col-xs-2">											
																		{{cont_almoneda}}
																	</div>
																	<div class="col-xs-3 text-right">
																		${{mutuo_almoneda}}
																	</div>	

																	<div class="col-xs-3 text-right">
																		${{avaluo_almoneda}}
																	</div>	
																</div>



											<div class="col-xs-12">
												<div class="col-xs-4">
													Boleta Remate
												</div>
												<div class="col-xs-2">					
													{{cont_remate}}
												</div>
												<div class="col-xs-3 text-right">
													${{mutuo_remate}}
												</div>	

												<div class="col-xs-3 text-right">
													${{avaluo_remate}}
												</div>	
											</div>


																<div class="col-xs-12">
																	<hr>
																</div>


																<div class="col-xs-12">
																	<div class="col-xs-4">
																		Total
																	</div>
																	<div class="col-xs-2">											
																		{{cont_total_2}}
																	</div>
																	<div class="col-xs-3 text-right">
																		${{total_mutuo}}
																	</div>	

																	<div class="col-xs-3 text-right">
																		${{total_almoneda}}
																	</div>	
																</div>


																&nbsp;
															</div>
														</div>
													</div>
													</div>	

								&nbsp;
					
						</div>
					</div>
				</div>
		</form>
	</div>

	{% ifequal est_error '1' %}
		<div class="fondo_mensaje cls_msj_saldo_inicial" >
			
		</div >
		<div class="mensaje cls_msj_saldo_inicial" >	
				<div class="cls_encabezado_alert" >
					Aviso			
				</div>

				<div class="panel panel-default">	
					<label class="page-header">{{error}}</label>
					<br>
					<a class="btn btn-primary btn-sm" id="btn-continuar" ><span class="glyphicon glyphicon-ok"></span> Continuar</a>	
					<br>
					<br>			
				</div>
		</div>
	{% endifequal  %}
	{% ifequal est_error '2' %}
		<div class="fondo_mensaje cls_msj_saldo_inicial" >
			
		</div >
		<div class="mensaje cls_msj_saldo_inicial" >	
				<div class="cls_encabezado_alert" >
					Aviso			
				</div>

				<div class="panel panel-default">	
					<label class="page-header">{{error}}</label>
					<br>
					<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_reportes'%}" ><span class="glyphicon glyphicon-ok"></span> Continuar</a>	
					<br>
					<br>			
				</div>
		</div>
	{% endifequal  %}
	<script type="text/javascript">
		post="0";
		$(document).ready(
				function()
				{
					fn_inicio();

					$("#btn-continuar").click(
								function()
								{
									$(".cls_msj_saldo_inicial").hide();
								}
						);

				}
			);
		function fn_establece_fecha_hoy()
		{
			var now = new Date();

		    var day = ("0" + now.getDate()).slice(-2);
		    var month = ("0" + (now.getMonth() + 1)).slice(-2);

		    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
		    $("#id_fecha_inicial").val(today);
		    $("#id_fecha_final").val(today);
		}
		function fn_inicio()
		{
			fn_establece_fecha_hoy();
			post="{{post}}";

			$("#id_sucursal").prop("required",false);

			if(post=="1")
			{
				if($("#id_sucursal").text()=="")
				{
					$("span").text("Todas");	
				}
				else
				{
					$("span_sucursal").text($("#id_sucursal").text());	
				}

				
			}
			$("#id_sucursal").val("{{sucursal_default}}");

			var perfil="{{perfil}}";

			//si no es gerente regional.
			//removemos la opcion de consultar todas las sucursales a la vez.
			if (perfil!="3")
			{
				var id_sucursal=document.getElementById("id_sucursal");
				id_sucursal.remove(0);

			}
		}
	</script>
{% endblock%}