{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>

{% endblock  %}

{% block content %}
	<div class="col-xs-12 cls_encabezado_body">	
		<a>
			Retiro de Efectivo
		</a>			
	</div>

	<div class="col-xs-12">
		<form method="post" action="#" class="cls_form_1">
			{%csrf_token%}
			
			<div class="row cls_form_consulta">
				<div class="col-xs-12">
					<div class="panel panel-default">						
						<div class="panel-body">
							<div class="col-xs-6 ">
								
								<div class="cls_encabezado_alert " >
									<label>Teórico</label>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>
											<strong>
												Descripción Ingresos
											</strong>
										</p>
									</div>
									<div class="col-xs-3  text-right">
										<p>
											<strong>
												Movtos.
											</strong>
										</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>
											<strong>
												Importe
											</strong>
										</p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Fondo Inicial:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>1</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{fondo_inicial}}</p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Otros Ingresos:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_otros_ingresos}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{otros_ingresos}}</p>
									</div>
								</div>


								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Refrendos:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_refrendos}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{importe_refrendo}}</p>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Comisiónes PG:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_com_pg}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{comisiones_pg}}</p>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Pago Capital:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_pc}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{pago_capital}}</p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Desempeño:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_desemp}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{importe_desemp}}</p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Reimpresión Boleta:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_rebol}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{importe_rebol}}</p>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Ventas:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_ventas}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{importe_ventas}}</p>
									</div>
								</div>
								<div class="col-xs-12">

									<div class="col-xs-6">
										<p>Ing. Apartado:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_ab_apartado}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{importe_apartado}}</p>
									</div>
									
								</div>




								<div class="col-xs-12">
									<br>
								</div>
									<div class="col-xs-12">
									<div class="col-xs-6">
										<p>
											<strong>
												Descripción Retiros
											</strong>
										</p>
									</div>
									<div class="col-xs-3  text-right">
										<p>
											<strong>
												Movtos.
											</strong>
										</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>
											<strong>
												Importe
											</strong>
										</p>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Retiros de Efectivo:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_retiros}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{retiros}}</p>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Pagos Empeño:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{cont_empenos}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{empenos}}</p>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-12">
										<h4 class="page-header"></h4>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">
										<p>Total Efectivo en Caja:</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>{{total_movs}}</p>
									</div>
									<div class="col-xs-3 text-right">
										<p>${{total_efectivo}}</p>
									</div>
								</div>
							</div>

							<div class="col-xs-6 ">
										<div class="cls_encabezado_alert " >
											<label>Retiro Efectivo</label>
										</div>
										<div class="col-xs-4">
											<label for=""> Importe</label>
											{% bootstrap_field form.importe  show_label=False%}


      										<div class="help-block" id="error_importe_excedido">
												No puedes disponer mas del efectivo que tienes en caja.
											</div>
											
									
											{% if error_no_fondos == '1' %}
												<div class="help-block" >
												No puedes disponer mas del efectivo que tienes en caja.
												</div>						
											{% endif %}

										</div>
										<div class="col-xs-12">
											<label>Concepto</label>



				


											<select name="concepto" class="form-control" title="" id="id_concepto">
											  <option value="" selected="">---------</option>

												{% for c in conceptos %}

													<option value="{{c.id}}">{{c.id}} {{c.concepto}} </option>	
												{% endfor %}
											 

											</select>


											
											
										</div>
										<div class="col-xs-12">

											<label for=""> Comentario</label>
											{% bootstrap_field form.comentario  show_label=False%}


										</div>
										<div class="col-xs-4">
											<label for=""> Token seguridad</label>
											{% bootstrap_field form.token  show_label=False%}
											<div class="help-block" id="id_error_token">
													<span id="">
													Debe ingresar el token de seguridad.		
													</span>
											</div>
											
										</div>
										<div class="col-xs-4">								
											<label for=""> 
													&nbsp
											</label>
											<br>
											<a class="btn btn-default" style="float: right;"   id="generar_codigo">
												Generar token
											</a>		
										</div>
										<div class="col-xs-12" id="tipo_movimiento">
											<label for=""> Tipo Movimiento</label>
											{% bootstrap_field form.tipo_movimiento  show_label=False%}
										</div>

										<div class="col-xs-12" >
											<br>
											<button class="btn btn-primary btn-sm" style="float: right;"   id="retirar">
											
												<span class="glyphicon glyphicon-usd">
													
												</span>
													Retirar
											</button>	
										</div>
									
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="fondo_preloader">
	<div class="preloader" id="preloader">
	
	</div>
</div>


	{% if caja_abierta == '0' %}
	<div class="fondo_mensaje" >
		
	</div >
	<div class="mensaje" >
			<div class="cls_encabezado_alert" >
				Error!!
			</div>	
			<div class="panel panel-default">	
				<label class="page-header">No cuentas con caja abierta.</label>
				<br>
				<a class="btn btn-primary btn-sm" href="{% url 'seguridad:admin_cajas' %}"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
				<br>
				<br>
			</div>
	</div>
	{% endif %}
	<div class="fondo_mensaje cls_notificacion" >
		
	</div >
	<div class="mensaje cls_notificacion" >
			<div class="cls_encabezado_alert" >
				Aviso
			</div>	
			<div class="panel panel-default">	
				<label class="page-header" id="msj_notificacion"></label>
				<br>				
				<a class="btn btn-primary btn-sm" id="btn_aceptar_notificacion"><span class="glyphicon glyphicon-ok"></span> Aceptar</a>
				<br>
				<br>
			</div>
	</div>

	<div class="fondo_mensaje cls_error_formulario" >
		
	</div >
	<div class="mensaje cls_error_formulario" >
			<div class="cls_encabezado_alert" >
				Error!!
			</div>	
			<div class="panel panel-default">	
				<label class="page-header" id="msj_error_form"></label>
				<br>				
				<a class="btn btn-primary btn-sm" id="btn_aceptar_error_form">
					<span class="glyphicon glyphicon-ok"></span> 
					Aceptar
				</a>
				<br>
				<br>
			</div>
	</div>

	<div class="fondo_mensaje cls_error_concepto_retiro" >
		
	</div >
	<div class="mensaje cls_error_concepto_retiro" >
			<div class="cls_encabezado_alert" >
				Error!!
			</div>	
			<div class="panel panel-default">	
				<label class="page-header" id="msj_error_concepto_retiro"></label>
				<br>				
				<a class="btn btn-primary btn-sm" id="btn_aceptar_error_concepto_retiro">
					<span class="glyphicon glyphicon-ok"></span> 
					Aceptar
				</a>
				<br>
				<br>
			</div>
	</div>


	<div class="fondo_mensaje cls_exito" >
		
	</div >
	<div class="mensaje cls_exito" >
			<div class="cls_encabezado_alert" >
				Aviso
			</div>	
			<div class="panel panel-default">	
				<label class="page-header" >El retiro se realizó con exito</label>
				<br>				
				<a class="btn btn-primary btn-sm" href = "{% url 'seguridad:admin_cajas'  %}">
					<span class="glyphicon glyphicon-ok" ></span> 
					Aceptar
				</a>
				<br>
				<br>
			</div>
	</div>

<a href="{% url 'empenos:imprime_comprobante_retiro' id_retiro %}" id="abrir_1">
	abrir
</a>

	<script type="text/javascript">
		var id_concepto;
			$(document).ready(
					function()
					{

						fn_inicio();

						$("#btn_aceptar_error_concepto_retiro").click(
							function()
							{
								$(".cls_error_concepto_retiro").hide();
							}
						);

						$("#id_importe").change(
							function()
							{
								$("#id_concepto").val("");
							}
						);

						$("#id_concepto").change(
								function()
								{
									fn_valida_saldo_concepto_retiro();
								}
							);

						$("#btn_aceptar_error_form").click(
								function ()
								{
									$(".cls_error_formulario").hide();
								}
							);
						$("#retirar").click(
								function () 
								{
									$("#id_error_token").hide();

									$("#id_concepto").prop("disabled",false);


									$("#id_concepto").val(id_concepto);

									if ($("#id_token").val() == "")
									{
										$("#id_error_token").show();
										return false		
									}
									$("#fondo_preloader").show();
									
							}
							);

						
						$("#btn_aceptar_notificacion").click(
								function()
								{
									$(".cls_notificacion").hide();
								}
						);

						$("#id_importe").focusout(
								function()
								{

									if ($("#id_importe").val()=="")
									{
										$("#id_importe").val("0");
									}

									$("#id_importe").val(parseInt($("#id_importe").val()));

								}
							);
						$("#generar_codigo").click(
							function()
							{	

								var importe=$("#id_importe").val();
								var comentario=$("#id_comentario").val();
								$("#error_importe_cero").hide();
								
								if( importe==0.00)
								{
									
									if($("#id_importe").val()=="")
									{
										$("#id_importe").val(0);	
									}

									$(".cls_error_formulario").show();
									$("#msj_error_form").text("El importe indicado no es valido.");
									return 0;
								}


								if(importe>{{total_efectivo}})
								{

									$(".cls_error_formulario").show();
									$("#msj_error_form").text("No puedes disponer mas del disponible en caja.");

									return 0;
								}
								if(importe<=0)
								{

									$(".cls_error_formulario").show();
									$("#msj_error_form").text("El importe indicado no es valido.");
									return 0;

								}
								if($("#id_concepto").val() == "")
								{
									$(".cls_error_formulario").show();
									$("#msj_error_form").text("Debe indicar el concepto de retiro.");
									return 0;									
								}
								$("#fondo_preloader").show();

								id_concepto = $("#id_concepto").val();

							   $.ajax({
							        type: "GET",
							        url: "{{IP_LOCAL}}/empenos/envia_token/",
							        data: { 'asunto':'{{asunto}}' , 'usuario':'{{usuario}}' ,'sucursal':'{{sucursal}}' ,'caja':'{{caja}} ','importe': $(	"#id_importe").val(),'comentarios':$("#id_comentario").val(),'token':'{{token}}',
							        		"id_concepto":$("#id_concepto").val()
							    		},
							        contentType: "application/json; charset=utf-8",
							        dataType: "json",
							        success: function (r) {

							            $("#error_importe_cero").hide();
									
										$("#error_importe_excedido").hide();
										$("#id_importe").prop("readonly",true);
										$("#id_comentario").prop("readonly",true);
										$("#id_concepto").prop("disabled",true);

										$(".cls_notificacion").show();
										$("#msj_notificacion").text("El código de confirmación se envío al gerente regional.");
										$("#fondo_preloader").hide();

							        },
							        error: function (r) {
							           
										$("#error_importe_cero").hide();
										
										$("#error_importe_excedido").hide();

										$(".cls_notificacion").show();
										$("#msj_notificacion").text("Error al generar el código de confirmación.");
										$("#fondo_preloader").hide();

							        },
							        failure: function (r) {
							           
										$("#error_importe_cero").hide();
										
										$("#error_importe_excedido").hide();
										$(".cls_notificacion").show();
										$("#msj_notificacion").text("Error al generar el código de confirmación.");
										$("#fondo_preloader").hide();
							        }
							    });
						   	}
						);

					}
				);

		function fn_valida_saldo_concepto_retiro()
		{

			var importe=$("#id_importe").val();

			if (importe <= 0)
			{
				$(".cls_error_concepto_retiro").show();
				$("#msj_error_concepto_retiro").text("El importe indicado para retiro no es valido.");
				return false;
			}



			$("#fondo_preloader").show();
			$.ajax(
					{
						type : "GET",
						url: "{{IP_LOCAL}}/empenos/api_valida_importe_retiro/",
						data : {'importe_a_retirar':importe.toString() ,'id_concepto_retiro' : $("#id_concepto").val() },
						contentType: "application/json; charset=utf-8",
						dataType : "json",
						success : function(data)
						{
							if (data[0].estatus == "0")
							{
								$(".cls_error_concepto_retiro").show();
								$("#msj_error_concepto_retiro").text(data[0].msj);
								$("#id_concepto").val("")
							}
					
							$("#fondo_preloader").hide();

						},
						error : function(err)
						{
							$(".cls_error_concepto_retiro").show();
							$("#msj_error_concepto_retiro").text("Error al consultar el saldo del concepto seleccionado.");
							$("#fondo_preloader").hide();
							$("#id_concepto").val("")
							return false;
						},
						failure : function (f)
						{
							$(".cls_error_concepto_retiro").show();
							$("#msj_error_concepto_retiro").text("Error al consultar el saldo del concepto seleccionado.");
							$("#fondo_preloader").hide();
							$("#id_concepto").val("")
							return false;
						}

					}
				);


		}

		function fn_inicio()
		{
			$("#fondo_preloader").hide();
			read_only="{{read_only}}";
						//esta condicion es cuando se intenta guardar el formulario y falla
			//para que mantenga bloqueado el formulario
			//en caso de que se requiera editar el cmotivo o importe debera refrescar la pagina

			$("#id_concepto").val("{{id_concepto}}");
			id_concepto = "{{id_concepto}}";
			if(read_only=="1")
			{
					$("#id_importe").prop("readonly",true);
					$("#id_comentario").prop("readonly",true);
					$("#id_concepto").prop("disabled",true)
			}
			$(".cls_error_formulario").hide();

			$("#id_error_token").hide();
			$("#btn_retirar").hide();
			$("#error_importe_cero").hide();
			
			$("#error_importe_excedido").hide();
			$("#id_tipo_movimiento").val("3");
			$("#tipo_movimiento").hide();
			$(".cls_notificacion").hide();
			$(".cls_error_concepto_retiro").hide();
			$(".cls_exito").hide();
			if("{{error_token}}"=="1")
			{
				$(".cls_error_formulario").show();
				$("#msj_error_form").text("El token ingresado es invalido.");
				return 0;

			}

			if( "{{id_retiro}}" != "0" )
			{

					link = $("#abrir_1").attr("href");
					window.open(link,'popup', 'width=400px,height=400px')
					$(".cls_exito").show();

				
			}
			
		}
	</script>
{% endblock %}