{%extends 'base.html'%}
{% load bootstrap3 %}
{%load static %}
{% block content%}

<div class="col-xs-12 cls_encabezado_body">
	<div class="col-xs-12">
		<a>
			Reporte Ventas
		</a>		
	</div>	
</div>
<div class="col-xs-12">
	<form method="post" action="#">
		{%csrf_token%}		
		<div class="row cls_form_consulta">
			<div class="col-xs-12">
				<div class="panel panel-default">
					
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-3">
								<label>Fecha Inicial</label>
							</div>
							<div class="col-xs-3">
								<label>Fecha Final</label>
							</div>
							<div class="col-xs-3">
								<label>Estatus</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3">
								<input  name="fecha_inicial" class="form-control" type="date" title="" id="id_fecha_inicial">
							</div>
							<div class="col-xs-3">
								<input  name="fecha_final" class="form-control" type="date" title="" id="id_fecha_final">				
							</div>
							<div class="col-xs-3">
								{%bootstrap_field form.id_estatus_venta show_label=False%}				
							</div>			
							<div class="col-xs-3">
								<button class="btn">Consultar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="row row_grid">	
			<div class="col-xs-12" >
				<div class="content-grid">
					
					<table class="table">
						<thead>
							<th>
							</th>
							<th><a>Fecha</a></th>
							<th><a>Sub Total</a></th>
							<th><a>Descuento</a></th>
							<th><a>IVA</a></th>
							<th><a>Total</a></th>
							<th><a>Estatus</a></th>
						</thead>
						<tbody>
							{% for v in ventas %}
								<tr>
									<td><a href="../detalle_venta/{{v.id}}">{% bootstrap_icon 'pencil' %}</a>
										</td>
									<td><a>{{v.fecha}}</a></td>
									<td><a>{{v.sub_total}}</a></td>
									<td><a>{{v.descuento}}</a></td>
									<td><a>{{v.iva}}</a></td>
									<td><a>{{v.total}}</a></td>
									<td><a>{{v.id_estatus_venta.estatus_venta}}</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
