{%extends 'base.html'%}
{% load bootstrap3 %}
{# Display a form #}

{% block content %}
    <form action="#" method="POST">
        {% csrf_token %}

        {{ detalle_venta_formset.management_form }}
        {% bootstrap_form_errors form %}
        
        <h2>Alta Venta</h2>
        <br>
        <div class="row">

            <div class="col-xs-6 col-md-3 ">			
                <label for="">Fecha</label>
                {% bootstrap_field form.fecha show_label=False %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <label for="">Medio de Venta</label>
                {% bootstrap_field form.id_medio_venta show_label=False %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <label for="">Forma Pago</label>
                {% bootstrap_field form.forma_pago show_label=False %}

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <h4>Agrega Productos</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class=" tabla_productos table" id="tabla_productos">
                    <thead>
                        <th></th>
                        <th>Producto</th>
                        
                        <th>Cantidad</th>
                        <th>Precio U</th>
                        <th>Precio Total</th>				
                    </thead>
                    <tbody>

                        
                        {% for form2 in detalle_venta_formset %}
                        {% bootstrap_form_errors  form2%}
                        <tr>
                            <td>{% bootstrap_field form2.id %}</td>
                            <td style="display: none;">
                                {% bootstrap_field form2.id_producto show_label=false %}
                                {% bootstrap_form_errors form2 %}
                            </td>
                            <td>
                                {% bootstrap_field form2.talla  show_label=False %}
                                {% bootstrap_form_errors form2 %}
                            </td>
                            <td>
                                {% bootstrap_field form2.cantidad  show_label=False %}
                                {% bootstrap_form_errors form2 %}
                            </td>
                            <td>
                                {% bootstrap_field form2.precio_unitario  show_label=False %}
                                {% bootstrap_form_errors form2 %}
                            </td>
                            <td>
                                {% bootstrap_field form2.precio_total  show_label=False %}
                                {% bootstrap_form_errors form2 %}
                            </td>
                            <td style="display: none;">{% bootstrap_field form2.descuento  show_label=False %}
                                {% bootstrap_form_errors form2 %}
                            </td>
                            <td style="display: none;" >
                                {% bootstrap_field form2.iva  show_label=False %}
                                {% bootstrap_form_errors form2 %}
                            </td>
                            <td>
                                {% bootstrap_field form2.DELETE  show_label=False %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="width:100%;text-align:right">
                    <button class="btn btn-default" id="add-item-producto" type="button">{% bootstrap_icon "plus" %} Agregar Producto</button>
                </div>
            </div>
        </div>
        <br>

        <div class="row" style="display: none;">
            <DIV class="col-xs-8 col-md-10 text-right" >
                <label for="">descuento</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                
                {% bootstrap_field form.descuento show_label=False %}
            </div>
        </div>
        <div class="row" >
            <DIV class="col-xs-8 col-md-10 text-right" >
                <label for="">Comision X Venta</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                
                {% bootstrap_field form.comision show_label=False %}
            </div>
        </div>
        <div class="row">
            <DIV class=" col-xs-8 col-md-10 text-right">
                <label for="">Costo de Envio</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                
                {% bootstrap_field form.costo_envio show_label=False %}
            </div>
        </div>

        <div class="row">
            <DIV class="col-xs-8 col-md-10 text-right">
                <label for="">Sub total</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                
                {% bootstrap_field form.sub_total show_label=False %}
            </div>
        </div>

        <div class="row">
            <DIV class="col-xs-8 col-md-10 text-right">
                <label for="">Iva</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                {% bootstrap_field form.iva show_label=False %}
            </div>
        </div>

        <div class="row">
            <DIV class="col-xs-8 col-md-10 text-right">
                <label for="">Total</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                {% bootstrap_field form.total show_label=False %}
            </div>
        </div>
        <div class="row">
            <DIV class="col-xs-8 col-md-10 text-right">
                <label for="">Estatus Venta</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                {% bootstrap_field form.id_estatus_venta show_label=False %}
            </div>
        </div>

        <div class="row">
            <DIV class="col-xs-8 col-md-10 text-right">
                <label for="">Link Seguimiento</label>
            </DIV>
            <div class="col-xs-4 col-md-2 ">
                
                {% bootstrap_field form.link_seguimiento show_label=False %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center">
                <button class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>

  

    <script>
       
        $(document).ready(
            function()
            {
               /* $("#id_sub_total").val("0.00");
                $("#id_iva").val("0.00");
                $("#id_total").val("0.00");
                $("#id_costo_envio").val("0.00");
                $("#id_comision").val("0.00");
                */
                $("#id_sub_total").val("0.00");
                $("#id_iva").val("0.00");
                $("#id_total").val("0.00");
                fn_calcula_totales("0");
                $("#add-item-producto").click(
                    function()
                    {
                        addItem("tabla_productos","id_detalle_venta_set-TOTAL_FORMS");
                    }
                );
               $("#id_fecha").attr({"type":"date"});
               
               $('#id_detalle_venta_set-0-DELETE').change(function(event) {
                   if(event.target.id.search("0-DELETE")>=0)
                   {
                        alert("Debe existir al menos un prodcto.");
                        $('#id_detalle_venta_set-0-DELETE').prop("checked",false);
                   }
                   else
                    {
                    $("#"+event.target.id.substr(0,22)+"-precio_total").val("0");
                    $("#"+event.target.id.substr(0,22)+"-cantidad").val("0");
                    $("#"+event.target.id.substr(0,22)+"-precio_unitario").val("0");
                        fn_calcula_totales(event.target.id);
                       $('#'+event.target.id).parentsUntil("tbody").hide();
                   }

                });
               
                $("#id_detalle_venta_set-0-cantidad").focusout(
                    function(event)
                    {
                       
                        fn_calcula_totales(event.target.id);
                        
                    }
                );
                $("#id_detalle_venta_set-0-precio_unitario").focusout(
                    function(event)
                    {
                       
                        fn_calcula_totales(event.target.id);
                        
                    }
                );
                $("#id_costo_envio").focusout(
                    function(event)
                    {
                        fn_calcula_totales(event.target.id);
                        
                    }
                );
                
                $("#id_sub_total").focusout(
                    function(event)
                    {
                        fn_calcula_totales(event.target.id);
                        
                    }
                );
                $("#id_iva").focusout(
                    function(event)
                    {
                        fn_calcula_totales(event.target.id);
                        
                    }
                );
         
                $("#id_total").focusout(
                    function(event)
                    {
                        fn_calcula_totales(event.target.id);
                        
                    }
                );

                $("#id_detalle_venta_set-0-precio_total").focusout(
                    function(event)
                    {
                        fn_calcula_totales(event.target.id);
                        
                    }
                );

                
                $("#id_comision").focusout(
                    function(event)
                    {
                        fn_calcula_totales(event.target.id);
                        
                    }
                );
                $("#id_detalle_venta_set-0-precio_unitario").focusout(
                    function(event)
                    {
                        fn_calcula_totales(event.target.id);
                        
                    }
                );

                //con este script vamos a obtener el id del producto
                $("#id_detalle_venta_set-0-talla").on('change', function() {
                    var str= $(this).find(":selected").text() ;
                    var n = str.indexOf(" ");
                    var x=str.substr(0,n);
                   
                    $("#id_detalle_venta_set-0-id_producto").val(x);
                });

                 //con este script vamos a obtener el id del producto
                 $("#id_detalle_venta_set-0-talla").on('click', function(event) {
                    ordenarSelect(event.target.id);
                });
            }

        );
        

        function fn_calcula_totales(id)
        {
            if (isNaN(parseFloat($("#"+id.substr(0,22)+"-cantidad").val())))
            {
                var cantidad=0;
            }
            else 
            {
                var cantidad=parseFloat($("#"+id.substr(0,22)+"-cantidad").val());                     
            }

            if (isNaN(parseFloat($("#"+id.substr(0,22)+"-precio_unitario").val())))
            {
                var precio_u=0;
            }
            else 
            {
                var precio_u=parseFloat($("#"+id.substr(0,22)+"-precio_unitario").val());                     
            }

            $("#"+id.substr(0,22)+"-descuento").val(0);
            $("#"+id.substr(0,22)+"-iva").val(0);
            $("#"+id.substr(0,22)+"-precio_total").val(cantidad*precio_u);
            var cont=parseInt($("#id_detalle_venta_set-TOTAL_FORMS").val());
            var sub_total=0.00;

            for(x=0;x<cont;x++)
            {
              
                sub_total=sub_total+parseFloat($("#id_detalle_venta_set-"+x.toString()+"-precio_total").val());
            }

            if( isNaN($("#id_costo_envio").val()))
            {
                var costo_envio=0.00;
            }
            else            
            {
                var costo_envio=parseFloat($("#id_costo_envio").val());
            }
            
            var comision=0.00;

           if( isNaN($("#id_comision").val()))
            {
                var comision=0.00;
            }
            else            
            {
                var comision=parseFloat($("#id_comision").val());
            }

            console.log(comision);
            $("#id_sub_total").val(costo_envio+comision+sub_total);
            $("#id_total").val(costo_envio+sub_total+comision);

            

        }

        function ordenarSelect(id_componente)
        {
          var selectToSort = jQuery('#' + id_componente);
          var optionActual = selectToSort.val();
          selectToSort.html(selectToSort.children('option').sort(function (a, b) {
            return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
          })).val(optionActual);
        }

    </script>

    
{% endblock %}
