{%extends 'base.html' %}
{% load bootstrap3 %}
{% block content%}
	<form method="post" action="#">
		{%csrf_token%}
		<h2>Venta</h2>
		<br><br>
		<div class="row">
			<div class="col-xs-3">
				{% bootstrap_field form.fecha %}
			</div>		
		</div>
		<div class="row">
			<div class="col-xs-3">
				{% bootstrap_field form.id_medio_venta %}
			</div>		
		</div>
		<br>
		<h3>Detalle Venta</h3>
		<table class="table">
			<thead>
				<th>
					Producto
				</th>				
				
				<th>talla</th>
				<th>precio U</th>
				<th>descuento</th>
				<th>IVA</th>
				<th>
					Cantidad
				</th>
				<th>Total</th>
			</thead>
			<tbody>
				{% for dv in det_venta %}
					<tr>
						<td>{{dv.id_producto.nombre}}</td>
						
						<td>{{dv.talla.talla}}</td>						
						<td>{{dv.precio_unitario}}</td>						
						<td>{{dv.descuento}}</td>						
						<td>{{dv.iva}}</td>		
						<td>{{dv.cantidad}}</td>						
						<td>{{dv.precio_total}}</td>						
					</tr>
					
				{% endfor %}
			</tbody>
		</table>
		<br></br>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">Descuento</div>
			<div class="col-xs-4">{% bootstrap_field  form.descuento show_label=False%}</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">Costo Envio</div>
			<div class="col-xs-4">{% bootstrap_field  form.costo_envio show_label=False%}</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">Comision</div>
			<div class="col-xs-4">{% bootstrap_field  form.comision show_label=False%}</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">Sub Total</div>
			<div class="col-xs-4">{% bootstrap_field form.sub_total show_label=False%}</div>
		</div>

		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">IVA</div>
			<div class="col-xs-4">{% bootstrap_field  form.iva show_label=False %}</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">Total</div>
			<div class="col-xs-4">{% bootstrap_field  form.total show_label=False%}</div>
		</div>
		<br><br>
		<div class="row">
			<h3>Persona Recibe</h3>
			<div class="col-xs-4"><label>Nombre</label><br>{{direccion_enviio.nombre_recibe}} <br><hr></div>
			<div class="col-xs-4"><label>Apellido Paterno</label><br>{{direccion_enviio.apellido_p}}<br><hr></div>
			<div class="col-xs-4"><label>Apellido Materno</label><br>{{direccion_enviio.apellido_m}}<br><hr></div>
			<div class="col-xs-12"><label>Calle</label><br>{{direccion_enviio.calle}}<br><hr></div>			
			<div class="col-xs-4"><label>Numero Interior</label><br>{{direccion_enviio.numero_interior}}<br><hr></div>			
			<div class="col-xs-4"><label>Numero Exterior</label><br>{{direccion_enviio.numero_exterior}}<br><hr></div>

			<div class="col-xs-4"><label>Municipio</label><br>{{direccion_enviio.municipio}}<br><hr></div>
			<div class="col-xs-4"><label>Estado</label><br>{{direccion_enviio.estado}}<br><hr></div>
			<div class="col-xs-4"><label>Pais</label><br>{{direccion_enviio.pais}}<br><hr></div>
			<div class="col-xs-4"><label>Codigo Postal</label><br>{{direccion_enviio.cp}}<br><hr></div>
			
			<div class="col-xs-4"><label>Colonia</label><br>{{direccion_enviio.colonia}}<br><hr></div>
			<div class="col-xs-6"><label>Telefono</label><br>{{direccion_enviio.telefono}}<br><hr></div>
			<div class="col-xs-6"><label>E-Mail</label><br>{{direccion_enviio.correo_electronico}}<br><hr></div>
			<div class="col-xs-12"><label>Referencias</label><br>{{direccion_enviio.referencia}}<br><hr>s</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-xs-6">
				{%bootstrap_field form.id_estatus_venta%}
			</div>
			<div class="col-xs-6">
				{%bootstrap_field form.link_seguimiento%}
			</div>
		</div>
		<br><br>
		<div class="row" style="text-align:center">
			<button class="btn btn-primary">
				Guardar
			</button>
		</div>
		<a href="../../reenvia_mail/{{id_venta}}">enviar confirmacion de compra</a>
	</form>
{% endblock %}