{% extends 'base.html' %}
{% load bootstrap3 %}

{%block content%}
	<form action="#" method="post">
		{%csrf_token%}
		{{productos_relacionados_formset.management_form}}
		{{blog_relacionados.management_form}}
		{{contenido_blog_formset.management_form}}
		<h1>Blog</h1>
		<div class="row">
			<div class="col-xs-12">
				<label>Titulo</label>
				{% bootstrap_field form.nombre_blog show_label=False %}
			</div>
			<div class="col-xs-12">
				<label>Parrafos</label>
				<br>
				<div class="pure-g">
					<table class="tabla_contenido_blog table">
							<thead>
							</thead>		
							<tbody>								
								{%for form in contenido_blog_formset %}
									<tr >						
										<td>
											{{form.id}}
										</td>
										<td>
											{% bootstrap_field form.contenido_blog show_label=False %}										
										</td>							
										<td>
											{% bootstrap_field form.DELETE %}
										</td>
									</tr>
								{%endfor%}
							</tbody>
						</table>	
						<div style="width:100%;text-align:right">
						<label>Agregar Parrafo<label>
								<button id="add-item-parrafo-blog" type="button">{%bootstrap_icon "plus"%}</button>
						</div>						
				</div>
				
			</div>
			<br>
			
			
			<div class="col-xs-6">
				<label>Imagen</label>
				{% bootstrap_field form.imagen_blog show_label=False %}
			</div>
			<div class="col-xs-6">
				<label>Estatus</label>
				{% bootstrap_field form.id_estatus show_label=False %}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6">

						<label>Productos Relacionados</label>
						<br>			
						<table class="table_Productos_Relacionados_blog table">
							<thead>
							</thead>		
							<tbody>
								
								{%for form in productos_relacionados_formset %}
									<tr >						
										<td>
											{{form.id}}
										</td>
										<td>
											<!--{{ form.as_ul }}-->								
											
											{% bootstrap_field form.id_producto_relacionado show_label=False %}
											{% bootstrap_form_errors form layout='inline' %}
											
										</td>							
										<td>
											{% bootstrap_field form.DELETE %}
										</td>
									</tr>
								{%endfor%}
							</tbody>
						</table>			
						<div style="width:100%;text-align:right">
								<button id="add-item-prod-relacionado_blog" type="button">{%bootstrap_icon "plus"%}</button>
						</div>
					</div>	
					
		<div class="col-xs-12 col-sm-6">
					<label>Blogs Relacionados</label>
					<br>			
					<table class="table_blog_relacionados table">
						<thead>
						</thead>		
					<tbody>						
						{%for form in blog_relacionados %}
							<tr>						
								<td>
									{{form.id}}
								</td>
								<td>
									<!--{{ form.as_ul }}-->								
									
									{% bootstrap_field form.id_blog_relacionado show_label=False %}
									{% bootstrap_form_errors form layout='inline' %}
									
								</td>							
								<td>
									{% bootstrap_field form.DELETE %}
								</td>
							</tr>
						{%endfor%}
					</tbody>
					</table>			
						<div style="width:100%;text-align:right">
								<button id="add-item-blog-relacionado_blog" type="button">{%bootstrap_icon "plus"%}</button>
						</div>
			
			</div>
			
		</div>
		<div class="row">			
			<div class="col-xs-12">
				<label>
					Autor
				</label>
				{% bootstrap_field form.autor show_label=False %}
			</div>
			<div class="col-xs-12">
				<label>
					Puesto
				</label>
				{% bootstrap_field form.puesto_autor show_label=False %}
			</div>
		</div>
		<br>
		<div class="row" style="text-align:center">
			<button class="btn btn-primary">
				Guardar
			</button>
		</div>
	</form>
	<script>
		$(document).ready(
			function()
			{
				$("#add-item-prod-relacionado_blog").click(
				function()
				{
					addItem("table_Productos_Relacionados_blog","id_blog-TOTAL_FORMS");
				}														
				);
				
				
				$("#add-item-blog-relacionado_blog").click(
					function()
					{
						addItem("table_blog_relacionados","id_id_blog-TOTAL_FORMS");
					}
				);
				
				$("#add-item-parrafo-blog").click(
					function()
					{
						addItem("tabla_contenido_blog","id_blog_contenido-TOTAL_FORMS");
					}
				);
				
				
				
			}
		);
	</script>
{%endblock%}