{%extends 'base.html'%}
{%load bootstrap3%}

{% load static %}
{%block content%}
	<form method="post" action="#">
		{%csrf_token%}
		
		<h2 >Busqueda</h2>
		<br>
		<div class="row">
			<div class="col-xs-3">
				<label>
					Proveedor
				</label>
			</div>
			<div class="col-xs-3">
				<label>
					Estatus
				</label>
			</div>
			
			<div class="col-xs-3">
				<label>
					id Producto
				</label>
			</div>
			<div class="col-xs-3">
				<label>
					Clave Proveedor
				</label>
			</div>
		</div>
		<div class="row">			
			<div class="col-xs-3">
				{% bootstrap_field form.id_proveedor  show_label=False%}
			</div>
			<div class="col-xs-3">
				{%bootstrap_field form.id_estatus show_label=False%}
			</div>			
			<div class="col-xs-3">
				{%bootstrap_field form.id_producto show_label=False%}
			</div>
			<div class="col-xs-3">
				{%bootstrap_field form.clave_proveedor show_label=False%}
			</div>
		</div>
		<div class="row">			
			<div class="col-xs-8" >				
				<a  href="../productos/new/" style="float: right;margin-top:10px">{%bootstrap_icon "plus"%} Agregar Producto</a>
			</div>
				
			<div class="col-xs-4" >				
				<button class="btn" style="float: right;">Buscar</button>
			</div>
		</div>
		<br>
		
		<br>
		<div class="row">

			{%for prod in produ %}
				<div class="col-xs-12 col-md-3" style="margin-top:10px;">
					<div class="col-xs-6 col-md-12">
						<img id="{{prod.nom_img}}" class="cls_img_prod" src="{% static 'img/'%}{{prod.nom_img}}_1.PNG" style="width: 100%;max-height: 300px;">
					</div>
					<div class="col-xs-6 col-md-12" >

						<div class="col-xs-12">
							<h1 style="font-size: 15px;font-weight: bold;text-align: center;">{{prod.id}} - {{prod.nombre}}</h1>		
						</div>																	
						<div class="col-xs-12">
							
							<p style="font-size: 12px;">Precio: <span style="font-weight: bold;">{{prod.precio}}</span>
								 </p> 
						</div>
						<div class="col-xs-12">
							<p style="font-size: 12px;"><span style="font-weight: bold;">{{prod.id_estatus}}</span>
								 </p> 
						</div>
						<div class="col-xs-12">
							<p style="font-size: 12px;">Marca: <span style="font-weight: bold;">{{prod.marca}}</span>
							</p> 
						</div>

						<div class="col-xs-12">
							<p style="font-size: 12px;">Proveedor: <span style="font-weight: bold;">{{proveedor}}</span>
							</p> 
						</div>

						
					</div>
					<div class="col-xs-12">
						<div class="col-xs-6 col-md-12">
							<a class="btn  btn-primary btn-block" href="/inventario/productos_edita/{{prod.id}}/">Modificar</a>
						</div>
						<div class="col-xs-6 col-md-12">
							<a class="btn  btn-primary btn-block" href="/inventario/existencias/{{prod.id}}/">Stock</a>
						</div>
					</div>

				</div>
			{% endfor %}

		
			<!--<div class="col-xs-12">
				<table class="table table-striped" style="font-size: 10px;">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Precio</th>
							<th scope="col">Prov</th>
							<th scope="col">Marca</th>
							<th scope="col">Estatus</th>
						</tr>
					</thead>
					<tbody>
						{%for prod in producto %}
						<tr>
							<th scope="row">
								<a href="/inventario/productos_edita/{{prod.id}}/"> {%bootstrap_icon "pencil"%} </a> 												
								<a href="/inventario/existencias/{{prod.id}}/"> {%bootstrap_icon "plus"%} </a> 												
							</th>
							<td>{{prod.id}} - {{prod.nombre}}</td>
							<td>{{prod.precio}}</td>
							<td>{{prod.id_proveedor.proveedor}}</td>
							<td>{{prod.marca}}</td>
							<td>{{prod.id_estatus}}</td>
						</tr>
						
						{%endfor%}
					</tbody>
				
				</table>
			
			</div>-->
		</div>

		
	</form>
	
	<script>
		$(document).ready(
			function()
			{
				$("#id_id_producto").val("0");
				$("#id_clave_proveedor").val("NA");

				$("#id_id_producto").focusout(
					function()
					{
						if($("#id_id_producto").val()=="")
						{
							$("#id_id_producto").val("0");
						}
					}
				);

				$("#id_clave_proveedor").focusout(
					function()
					{
						if($("#id_clave_proveedor").val()=="")
						{
							$("#id_clave_proveedor").val("NA");
						}
					}
				);

				
				$("#id_id_estatus").focusin(
						function()
						{
							$("#id_id_producto").val("0");
							$("#id_clave_proveedor").val("NA");
						}

				);
				$("#id_id_proveedor").focusin(
						function()
						{
							$("#id_id_producto").val("0");
							$("#id_clave_proveedor").val("NA");
						}

				);
				$("#id_id_proveedor").val("");

				$("#id_id_producto").on('keypress',function(e) {
				
					$("#id_id_estatus").val("");
					$("#id_id_proveedor").val("");
					$("#id_clave_proveedor").val("NA");
			
			});
			$("#id_clave_proveedor").on('keypress',function(e) {
				
				$("#id_id_estatus").val("");
				$("#id_id_proveedor").val("");
				$("#id_id_producto").val("0");
		
		});

		$('.cls_img_prod').on("error", function () {

			$(this).height($(this).width());
			});
			}

		);
	</script>
{%endblock%}