{%extends 'base.html'%}
{%load bootstrap3%}

{% load static %}
{%block content%}


<div class="col-xs-12 cls_encabezado_body">
	<div class="col-xs-12">
		<a>
			Reporte Inventario
		</a>		
	</div>	
</div>
<div class="col-xs-12">
	

	<form method="post" action="#" class="cls_form_1">
		{%csrf_token%}
		
		<div class="row cls_form_consulta">
			<div class="col-xs-12">
				<div class="panel panel-default">
					
					<div class="panel-body">
							<div class="col-xs-6 col-md-3">
								<label for=""> Desc Producto</label>
								{% bootstrap_field form.producto  show_label=False%}
							</div>
							<div class="col-xs-6 col-md-3">
								<label for=""> Clave Producto</label>
								{%bootstrap_field form.id_producto show_label=False%}
							</div>
							<div class="col-xs-4 col-md-2">
								<label for=""> Clave Proveedor</label>
								{%bootstrap_field form.clave_proveedor show_label=False%}
							</div>
							
							<div class="col-xs-4 col-md-2">
								<label for="">
									&nbsp;
								</label>
								<br>
								<button class="btn btn-default" style="float: right;"  id="buscar_1">Buscar</button>
								
							</div>	
						</div>
					</div>
			</div>
		</div>
	
		<div class="row row_grid">	
			<div class="col-xs-12" >
				<div class="content-grid">
				<table class="table ">
					<thead>
						<th>
						</th>
						<th><a>Nombre</a></th>
						<th><a>Talla</a></th>
						<th><a>Marca</a></th>
						<th><a>Clave Proveedor</a></th>
						<th><a>Entrada</a></th>
						<th><a>Salida</a></th>
						<th><a>En carrito</a></th>
						<th><a>Existencia</a></th>
					</thead>
					<tbody>
						{% for prod in reporte %}
							<tr>
								<td>
									<a href="../productos_edita/{{prod.id}}">{% bootstrap_icon 'search' %}</a>
									<a href="../existencias/{{prod.id}}">{% bootstrap_icon 'pencil' %}</a>
								</td>
								<td><a>{{prod.nombre}}</a></td>
								<td><a>{{prod.talla}}</a></td>
								<td><a>{{prod.marca}}</a></td>
								<td><a>{{prod.clave_proveedor}}</a></td>
								<td><a>{{prod.entrada}}</a></td>
								<td><a>{{prod.salida}}</a></td>
								<td><a>{{prod.apartado}}</a></td>
								<td><a>{{prod.existencia}}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</form>
	</div>
	<script type="text/javascript">
		$(document).ready(
				function()
				{
					$('#id_producto').removeAttr("required");
					$('#id_id_producto').removeAttr("required");
					$('#id_clave_proveedor').removeAttr("required");
					$(".help-block").hide();
				}
			);

	</script>
{%endblock%}