{% extends 'base.html'%}

{% load bootstrap3 %}

{% load static %}
{# Display a form #}

{%block content%}

<div class="col-xs-12 cls_encabezado_body">
	<div class="col-xs-8">
		<a >
			Alta Producto
		</a>		
	</div>
	<div class="col-xs-4">
		<a>
		
					Folio: {{folio}}
				
		
		</a>
	</div>
</div>

<div class="col-xs-12">
	

<form method="post" action="#" class="form-body">

	{% csrf_token %}
	{{	atributo_formset.management_form	}}
	{{ 	talla_formset.management_form	}}
	{{	productos_relacionados_formset.management_form	}}
	{{	rel_producto_categoria_formset.management_form	}}
	{{ 	img_producto_formset.management_form	}}
	<div class="row">
		<div class="col-xs-12 cls_form">			
			{% bootstrap_field form.nombre %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 cls_form">
			{% bootstrap_field form.desc_producto%}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-3">
			{% bootstrap_field form.precio_proveedor %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2" >
			<label for="">% RS</label>
			{% bootstrap_field form.porcentaje_ganancia show_label=False%}
		</div>

		<div class="col-xs-4 col-md-2">
			<label for="">Precio R. S. </label>
			{%bootstrap_field form.precio show_label=False %}
		</div>
		<div class="col-xs-12 col-md-8">
			<label for="">
				Detalle Comisiones Redes Sociales
			</label>
			
			<div class="col-xs-12" style="font-size:12px">
				<div class="col-xs-6"><strong>C. E.</strong>  </div>
				<div class="col-xs-6"> <strong>Utilidad</strong> </div>
				<div class="col-xs-6"> <p> <span id="c_envio_rs">0.00</span> </p></div>
				<div class="col-xs-6"><p> <span id="c_utilidad_rs">0.00</span> </p></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2" >
			<label for="">% ML</label>
			{% bootstrap_field form.porcentaje_ganancia_ml show_label=False%}
		</div>
		<div class="col-xs-4 col-md-2">
			<label for="">Precio ML</label>
			{%bootstrap_field form.precio_ml show_label=False %}
		</div>
		<div class="col-xs-12 col-md-8">
			<label for="">
				Detalle ML.
			</label>
			<div class="col-xs-12" style="font-size:12px">
				<div class="col-xs-4"> <strong>Comision</strong> </div>
				<div class="col-xs-4"> <strong>C. E.</strong> </div>
				<div class="col-xs-4"> <strong>Utilidad</strong> </div>
				<div class="col-xs-4"><p><span id="c_comision_ml">0.00</span> </p></div>
				<div class="col-xs-4"><p><span id="c_costo_envio_ml">0.00</span> </p></div>
				<div class="col-xs-4"><p><span id="c_utilidad_ml">0.00</span> </p></div>
			</div>
		</div>

	</div>

<!--
	<div class="row">
		<div class="col-xs-12  cls_form">
			<div class="col-xs-4 col-md-2" >
				{% bootstrap_field form.precio_proveedor %}
			</div>
			<div class="col-xs-4 col-md-2" >
				{% bootstrap_field form.porcentaje_ganancia %}
			</div>
			
		</div>
		<div class="col-xs-6 col-md-3 cls_form">
			<label for="">Precio R. S. </label>
			{%bootstrap_field form.precio show_label=False %}
			
			<label for="">Precio ML</label>
			{%bootstrap_field form.precio_ml show_label=False %}
			
		</div>
		
		<div class="col-md-6 cls_form" >
			<label for="">
				Detalle Redes Sociales
			</label>
			
			<div class="col-xs-12" style="font-size:10px">
				<div class="col-xs-6"><strong>C. E.</strong>  </div>
				<div class="col-xs-6"> <strong>Utilidad</strong> </div>
				<div class="col-xs-6"> <p> <span id="c_envio_rs">0.00</span> </p></div>
				<div class="col-xs-6"><p> <span id="c_utilidad_rs">0.00</span> </p></div>
			</div>
			<br>
			<br>
			<br>
			<br>

			<label for="">
				Detalle ML.
			</label>
			<div class="col-xs-12" style="font-size:10px">
				<div class="col-xs-4"> <strong>Comision</strong> </div>
				<div class="col-xs-4"> <strong>C. E.</strong> </div>
				<div class="col-xs-4"> <strong>Utilidad</strong> </div>
				<div class="col-xs-4"><p><span id="c_comision_ml">0.00</span> </p></div>
				<div class="col-xs-4"><p><span id="c_costo_envio_ml">0.00</span> </p></div>
				<div class="col-xs-4"><p><span id="c_utilidad_ml">0.00</span> </p></div>
			</div>
			<br>
			<br>
			<br>
		</div>
		
		<br>
		<div class="col-md-3 cls_form" style="display: none;">
			{% bootstrap_field form.descuento %}
		</div>
	</div>-->
	<br>
		<div class="col-md-3 cls_form" style="display: none;">
			{% bootstrap_field form.descuento %}
		</div>
	<hr>
	<div class="row">
		<div class="col-xs-6 col-md-4 cls_form">
			<label>Proveedor</label>
			{% bootstrap_field form.id_proveedor show_label=False%}
		</div>
		<div class="col-xs-6 col-md-4 cls_form">
			{% bootstrap_field form.marca %}
		</div>
		<div class="col-xs-6 col-md-4 cls_form">
			<label>Clave Producto (Proveedor)</label>
			{% bootstrap_field form.clave_prod_proveedor show_label=False %}
		</div>
	
	</div>
	
	<br>
	<br>
	<div class="row">
	<div class="col-xs-12 col-sm-6 cls_form">
		<div class="panel panel-default" id="panel-atributos">
			<div class="panel-heading">
				Atributos
			</div>			
			<table class="table_atributo table">
			<thead>
			</thead>
			<tbody>    				
					
					{% for form in atributo_formset %}
						<tr>
							<td>{% bootstrap_field form.id %}</td>
							<td>{% bootstrap_field form.atributo  show_label=False%}
								{%bootstrap_form_errors form %}
							</td>						
							<td>{% bootstrap_field form.valor_atributo  show_label=False%}</td>
							<td>{%bootstrap_field form.DELETE %}</td>
						</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
		
		
		<div style="width:100%;text-align:right">
				<button id="add-item-atributo" type="button">{%bootstrap_icon "plus"%}</button>
		</div>
		
	</div>
	
	
		<div class="col-xs-12 col-sm-6 cls_form">
		
			<div class="panel panel-default" id="panel-atributos">
			<div class="panel-heading">
				Tallas
			</div>			
			
			<table class="table_talla table">
				<thead>
				</thead>
				<tbody>
					{%for form in talla_formset %}
					<tr>
						<td>{% bootstrap_field form.id  %}</td>
						<td>
							{%bootstrap_field form.talla show_label=False%}
							{%bootstrap_form_errors form %}	
						</td>
						<td>
							{% bootstrap_field form.DELETE %}
						</td>
						
					</tr>
					{%endfor%}
				</tbody>
			</table>
			
		</div>
		
		


	
			<div style="width:100%;text-align:right">
					<button id="add-item-talla" type="button">{%bootstrap_icon "plus"%}</button>
			</div>
			
		</div>
		
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-default" id="panel-atributos">
				<div class="panel-heading">
					Productos Relacionados
				</div>			
				<table class="table_Productos_Relacionados table">
					<thead>
					</thead>		
					<tbody>
						
						{%for form in productos_relacionados_formset %}
							<tr >						
								<td>
									{{form.id}}
								</td>
								<td>
									<!--{{ form.as_ul }}-->								
									
									{% bootstrap_field form.id_producto_relacionado show_label=False %}
									{% bootstrap_form_errors form layout='inline' %}
									
								</td>							
								<td>
									{% bootstrap_field form.DELETE %}
								</td>
							</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>


			<div style="width:100%;text-align:right">
					<button id="add-item-prod-relacionado" type="button">{%bootstrap_icon "plus"%}</button>
			</div>
		</div>	
		<div class="col-xs-12 col-sm-6">

			<div class="panel panel-default" id="panel-atributos">
					<div class="panel-heading">
						Categorias
					</div>			
					<table class="table_categorias table">
				<thead>
				</thead>
				<tbody>
					{% for form in rel_producto_categoria_formset %}
					<tr>
						<td>{{form.id}}</td>
						<td>
							{% bootstrap_field form.id_categoria show_label=False %}
							{% bootstrap_form_errors form  %}						
						</td>
						<td>
							{%bootstrap_field form.DELETE %}
						</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
				</div>


			
			<div style="width:100%;text-align:right">
					<button id="add-item-categoria" type="button">{%bootstrap_icon "plus"%}</button>
			</div>
		</div>
	</div>
	<br><br>
	<div class="row">			
			
			<div class="col-xs-12 col-sm-6">

			<div class="panel panel-default" id="panel-atributos">
				<div class="panel-heading">
					Imagenes
				</div>			
				<table class="table table_imagenes">
					<thead>
					</thead>
					<tbody>
						{% for img in img_producto_formset %}
						<tr>
							<td>
								{{img.id}}
							</td>
							<td>
								{% bootstrap_field img.nom_img show_label=False %}
							</td>
							<td>
								{%  bootstrap_field img.orden show_label=False  %}
							</td>
							<td>
								{%bootstrap_field img.DELETE %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>


				<div style="width:100%;text-align:right">
					<button id="add-item-imagen" type="button">{%bootstrap_icon "plus"%}</button>
			</div>
			</div>
		</div>
	
	<div class="row">
		<div class="col-xs-12 col-sm-6">				
				{%bootstrap_field form.id_estatus %}
			</div>
			<div class="col-xs-12 col-md-6">				
				{% bootstrap_field form.publicado_ml %}
			</div>
	</div>
	<br><br>
	<div class="row">	
		<div class="col-xs-12 " style="text-align:center">
			<button class="btn btn-primary btn-lg">Guardar</button>
		</div>
	</div>
	
	
</form>
</div>
<script>


	
	$(document).ready(
		function()
		{	

			var fn_calcula_utilidad_rs=function()
				{
					var c_utilidad_rs=0.00;
					var pf=$("#id_precio").val();
							var costo_envio=0.00
							if (pf<500.00)
							{
								
								$("#c_envio_rs").text("50.00");
								costo_envio=50;
							}
							else
							{
								
								$("#c_envio_rs").text("30.00");
								costo_envio=30;
							}
							console.log(parseFloat(pf).toFixed(2));
							var c_utilidad_rs=parseFloat(pf).toFixed(2)-parseFloat(costo_envio).toFixed(2)-parseFloat($("#id_precio_proveedor").val()).toFixed(2);
							
							p_ganancia=(parseFloat(c_utilidad_rs).toFixed(2)*parseFloat(100).toFixed(2))/parseFloat($("#id_precio_proveedor").val()).toFixed(2);
							$("#id_porcentaje_ganancia").val(parseFloat(p_ganancia).toFixed(2));
							$("#c_utilidad_rs").text(parseFloat(c_utilidad_rs).toFixed(2));
				}

				var fn_calcula_utilidad_ml=function()
				{
					var comision=0.00;
					var costo_envio=0.00;
					var utilidad=0.00;
					var precio=0.00;
					var p_ganancia=0.00;
					precio=parseFloat($("#id_precio_ml").val());

					comision=(precio*0.175)+5.00;

					//if es mayor a 498 consideramos envio
					if (precio>498.00)
					{
						costo_envio=73.5;	
					}
					else
					{
						
						costo_envio=0.00;	
					}

					

					utilidad=precio-$("#id_precio_proveedor").val()-comision-costo_envio;
					p_ganancia=(utilidad*100)/$("#id_precio_proveedor").val();
					$("#id_porcentaje_ganancia_ml").val(parseFloat(p_ganancia).toFixed(2));

					$("#c_comision_ml").text(parseFloat(comision).toFixed(2));
					$("#c_costo_envio_ml").text(parseFloat(costo_envio).toFixed(2));
					$("#c_utilidad_ml").text(parseFloat(utilidad).toFixed(2));


				}
				$("#id_precio_ml").keyup(
					function()
					{
						fn_calcula_utilidad_ml();
					}
				);
				$("#id_precio").keyup(
					function()
					{
						fn_calcula_utilidad_rs();
					}
				);

			$("#id_precio_proveedor").keyup(function(){
				fn_calcula_utilidad_rs();
				
				fn_calcula_utilidad_ml();
			});

			
			fn_calcula_utilidad_rs();
			fn_calcula_utilidad_ml();

			$("#add-item-atributo").click(
				function ()
				{
					addItem("table_atributo","id_atributos_set-TOTAL_FORMS");
				}
			);
			
			$("#add-item-talla").click(
				function ()
				{
						addItem("table_talla","id_tallas_set-TOTAL_FORMS");
				}
			);
			$("#add-item-prod-relacionado").click(
				function()
				{
					addItem("table_Productos_Relacionados","id_producto-TOTAL_FORMS");
				}
			);
			$("#add-item-categoria").click(
				function()
				{
					addItem("table_categorias","id_rel_producto_categoria_set-TOTAL_FORMS");
				}
			);
			
			$("#add-item-imagen").click(
				function()
				{
					addItem("table_imagenes","id_img_producto_set-TOTAL_FORMS");
				}
			);
			
			$("#btn_ampliar_img").click(function() {
			url = $(this).attr("href");
			window.open(url, '_blank');
			return false;
			});

			$('#img_prod').on("error", function () {
				$('#img_prod').hide();
			});
			

			$("#id_desc_producto").keyup(function(){

					var str=$("#id_desc_producto").val().replace(";","<br>");
					$("#id_desc_producto").val(str);
					
				}

			);
		}
	)
	
</script>
{%endblock%}


