{% extends 'base.html'%}
{% load bootstrap3 %}
{# Display a form #}
{% block content%}

<div class="col-xs-12 cls_encabezado_body">
	<div class="col-xs-12">
		<a >
			Proveedor
		</a>		
	</div>
</div>

<div class="col-xs-12">
	<form method="post" action="#" class="cls_form_1">

		{%csrf_token%}
		<div class="row cls_form_consulta">
			<div class="col-xs-12">
				<div class="panel panel-default">
					
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								{% bootstrap_field form.proveedor %}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								{% bootstrap_field form.id_estatus %}
							</div>
						</div>
						<button class="btn btn-primary">Guardar</button>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>
{% endblock%}