
.panel-body>div
{
	
	margin-top: 10px;
}
th
{
	font-size: 12px;
}
td
{
font-size: 12px;	
}

.fondo_mensaje
{
	position:fixed;top:0;left:0;z-index:100;width: 100%; height: 100%; background-color: black;opacity: 0.7;
}
.mensaje
{
	position: fixed;top:10%;left: 30%;width: 40%;z-index: 111;background-color: white;border-radius: 5px; box-shadow: 4px 4px 4px black;padding:10px; text-align: center;
}

.fondo_mensaje_2
{
	position:fixed;
	top:0;
	left:0;
	z-index:200;
	width: 100%; 
	height: 100%; 
	background-color: black;
	opacity: 0.7;
}
.mensaje_2
{
	position: fixed;
	top:10%;
	left: 30%;
	width: 40%;
	z-index: 211;
	background-color: white;
	border-radius: 5px; 
	box-shadow: 4px 4px 4px black;
	padding:10px; 
	text-align: center;
}
#logo_peque 
{
	color:white;
	font-family: cambria;
	font-size: 20px;
	padding-left: 10px;
}
.cls_form_consulta
{
	background-color: white;
	padding:10px;
	
}
.form-body
{
	background-color: white;
	padding:10px;
	margin-top: 10px;
	border-radius: 10px;
}
#menu
{
	background-color: white;
	box-shadow: 1px 1px 1px gray;
}
#contenedor_logo_menu
{
	width: 70%;
	padding-left: 15%;
}
#contenedor_logo_menu img
{
	width: 100%;
	margin:0 auto;
}

.cls_icono
{
	color:white;
	display: inline-block;
	margin-top: 2px;
	font-size: 15px;
	border: 1px solid white;
	padding: 5px;
	text-align: center;	
	border-radius: 5px;

}
#usuario_logueado{
	color: #003698;


	
	text-align: center;	
	font-size: 15px;
	padding-top:3px;

}
.cls_icono:hover
{
	color: white;
	cursor: pointer;
	border: 2px solid white;
	box-shadow: 1px 1px 1px black;
}

#body
{
	background-color: white;
	min-height: 100%;
}
.base-div-header
{
	background-color:#41758f;
}
.cls_error_form
{
	font-size: 10px;
	color: red;
	text-align: center;
}
#encabezado_principal
{
	background-color: #7bb33a;
	padding-top:10px;
	padding-bottom: 10px;
-webkit-box-shadow: 13px -30px 24px 27px rgba(0,0,0,0.34);
-moz-box-shadow: 13px -30px 24px 27px rgba(0,0,0,0.34);
box-shadow: 13px -30px 24px 27px rgba(0,0,0,0.34);
}
#logo_peque img
{
	width: 30px;
}
.list-group-item a
{
	
	text-decoration: none;
	cursor: pointer;
}
.cls_boton_body span
{
	font-size: 25px;
}
.list-group> .active> a
{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.cls_encabezado_body
{
	background-color: #455a64;
	padding-top:10px;
	
	padding-bottom: 10px;
}
.cls_encabezado_body a
{
	padding-left: 10px;
	color: white;
	text-decoration: none;
	list-style: none;
	font-weight: bold;
}

.cls_encabezado_body_2 a
{
	text-decoration: none;
	color: black;
	list-style: none;
	display: block;
	padding-top: 20px;	
	font-weight: bold;
}
.list-group-item a
{
	color: black;
}
.cls_row_body
{
	max-width: 90%;margin-left: 5px;
}
.cls_boton_body
{
	width: 100%;	
}


.cls_boton_body a
{
	display: block;
	text-align: center;
	background-color: white;

	width: 90%;
	margin-left: 5%;
	padding-top:20px;
	padding-bottom: 20px;	
	border-radius: 5px;
	border: 1px solid #dddddd;
	cursor: pointer;
}

.cls_boton_body a:hover
{
-webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.cls_boton_body a
{
	text-decoration: none;
	list-style: none;
	color: black;
	font-weight: bold;
}


.table th>a
{
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	list-style: none;
	font-weight: bold;
	color: black;
}

.table tr>td>a
{
	
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	list-style: none;
	color:gray;
}



.content-grid
{
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	background-color: white;
}
.row_grid
{
	background-color: white;
}






/*efecto cargando*/
#fondo_preloader
{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
	background-color: black;
	opacity: 0.7;
}
.preloader {
	margin:0 auto;
	margin-top: 10%;
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cls_form_emergente,.cls_form_busca_cliente
{
	width: 30%;
	max-height: 80%;
	overflow-y: scroll;
	position: fixed;
	top: 10%;
	left: 35%;
	background-color: white;
	z-index: 150;
	padding:15px;
}
.help-block
{
	color: red;
}























