{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}
{%block content%}

	<div class="col-xs-12 cls_encabezado_body">
		<a>
			Administración de sistema.
		</a>	
	</div>
	<div class="col-xs-12">
		<div class="row" >
				<div class="col-xs-12 cls_encabezado_body_2">
					<a>
						Baja
					</a>
					<br>
				</div>
				<div class="row cls_row_body"  >
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:elimina_costo_extra' %}">
								<span class="glyphicon glyphicon-trash"></span>
								<br>
								<br>
								Ingresos Extras
							</a>	
						</div>
						
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:admin_kilataje' %}">
								<span class="glyphicon glyphicon-tags"></span>
								<br>
								<br>
								Admin Kilataje
							</a>	
						</div>
						
					</div>
				</div>

		</div>
		<div class="row" >
				<div class="col-xs-12 cls_encabezado_body_2">
					<a>
						Ventas
					</a>
					<br>
				</div>
				<div class="row cls_row_body"  >
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:admin_porc_avaluo' %}">
								<span class="glyphicon glyphicon-usd"></span>
								<br>
								<br>
								% sobre avaluo
							</a>	
						</div>
						
					</div>
				</div>

		</div>
		<div class="row" >
				<div class="col-xs-12 cls_encabezado_body_2">
					<a>
						Retiros
					</a>
					<br>
				</div>
				<div class="row cls_row_body"  >
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:disponible_retiro' id=1 %}">
								<span class="glyphicon glyphicon-briefcase"></span>
								<br>
								<br>
								Disponible retiro
							</a>	
						</div>
						
					</div>
				</div>

		</div>

	</div>
{% endblock %}