{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>


{% endblock  %}

{%block content%}
<div class="col-xs-12 cls_encabezado_body">
	<a >
		Administración de Mi Cuenta
	</a>	
</div>


<div class="col-xs-12">
		<div class="row" >
			<div class="col-xs-12 cls_encabezado_body_2">
				<a >
					Mi cuenta	
				</a>
				<br>
			</div>
			<div class="row cls_row_body"  >
				<div class="col-xs-2">
					<div class="cls_boton_body">
						<a href="{% url 'seguridad:cambio_psw_usr' %}">
							<span class="glyphicon glyphicon-lock"></span>
							<br>
							<br>
							Cambio de Contraseña
						</a>	
					</div>
					
					
				</div>	





				
				
			</div>
			
		</div>
</div>
{%endblock%}
