{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{request.user.username}}: {{request.user.first_name}} {{request.user.last_name}}</label> 
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 
			</div>

{% endblock  %}
{%block content%}

	<div class="col-xs-12 cls_encabezado_body">
		<a>
			Administración de sistema
		</a>	
	</div>
	<div class="col-xs-12">
			<div class="row" >
			
				<div class="col-xs-12 cls_encabezado_body_2">
					<a>
						Administración de usuarios
					</a>
					<br>
				</div>
				<div class="row cls_row_body"  >
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'seguridad:alta_usuario' %}">
								<span class="glyphicon glyphicon-user"></span>
								<br>
								<br>
								Nuevo usuario
								<br>
							&nbsp;
							</a>	
						</div>
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'seguridad:consulta_usuarios' %}">
								<span class="glyphicon glyphicon-search"></span>
								<br>
								<br>
								Consulta <br>usuarios
							</a>	
						</div>						
					</div>	
	
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a  href="{% url 'seguridad:admin_permisos_usuario' %}">
								<span class="glyphicon glyphicon-lock"></span>
								<br>
								<br>
								Permisos de usuario
							</a>	
						</div>
					</div>	

				</div>
			</div>

		<div class="row" >

				<div class="col-xs-12 cls_encabezado_body_2">
					<a>
						Operación general
					</a>
					<br>
				</div>
				<div class="row cls_row_body"  >
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:admin_porc_avaluo' %}">
								<span class="glyphicon">
									<strong>%</strong>	
								</span>
								<br>
								<br>
								% sobre avaluo p/venta y apart
							</a>	
						</div>
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:admin_precio_venta' %}">
								<span class="glyphicon glyphicon-usd"></span>
								<br>
								<br>
								Establecer precio venta y apart.
							</a>	
						</div>
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:admin_comisionpg' %}">
								<span class="glyphicon">
									<strong>%</strong>	
								</span>
								<br>
								<br>
								% para comisión periodo de gracia
							</a>	
						</div>
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:admin_min_apartado' id=1 %}">
								<span class="glyphicon">
									<strong>%</strong>	
								</span>
								<br>
								<br>
								Admin porcentaje para apartado
							</a>	
						</div>
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a style="background-color: gray">
								<span class="glyphicon" style="text-decoration-line: line-through;">
									day
								</span>
								<br>
								<br>
								Dias no laboral<br>
							&nbsp;
							</a>	
						</div>
					</div>

					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a style="background-color: gray">
								<span class="glyphicon glyphicon-envelope" >
									
								</span>
								<br>
								<br>
								Correos de notificaciónes
							</a>	
						</div>
					</div>

					<div class="col-xs-2" style="margin-top:10px">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:admin_kilataje' %}">
								<span class="glyphicon glyphicon-tags"></span>
								<br>
								<br>
								Administración kilataje
							</a>	
						</div>						
					</div>

				</div>
		</div>

			<div class="row" >

				<div class="col-xs-12 cls_encabezado_body_2">
					<a>
						Administración de sucursal
					</a>
					<br>
				</div>
				<div class="row cls_row_body"  >
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a style="background-color: gray">
								<span class="glyphicon glyphicon-home"></span>
								<br>
								<br>
								Alta de sucursal<br>
							&nbsp;
							</a>	
						</div>						
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a style="background-color: gray">
								<span class="glyphicon glyphicon-home"></span>
								<br>
								<br>
								Edición de sucursal
							</a>	
						</div>						
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:concepto_retiro'  %}">
								<span class="glyphicon glyphicon-arrow-right"></span>
								<br>
								<br>
								Conceptos de retiro
							</a>	
						</div>					
					</div>
					<div class="col-xs-2">
							<div class="cls_boton_body">
								<a href="{% url 'empenos:administracion_interes_empeno'  %}">
									<span class="glyphicon glyphicon-sort"></span>
									<br>
									<br>
									Admin. interes de emp
								</a>	
							</div>
							
						</div>
					<div class="col-xs-2">
					<div class="cls_boton_body">
						<a href="{% url 'empenos:administracion_porcentaje_mutuo'  %}">
							<span class="glyphicon">
								<strong>
									%
								</strong>
							</span>
							<br>
							<br>
							Admin. % maximo p/mutuo
						</a>	
					</div>
					
				</div>

				</div>

			</div>
		<div class="row" >
				<div class="col-xs-12 cls_encabezado_body_2">
					<a>
						Cancelación movimientos operación
					</a>
					<br>
				</div>
				<div class="row cls_row_body"  >
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:cancela_boleta' %}">
								<span class="glyphicon glyphicon-tags"></span>
								<br>
								<br>
								Cancelar de boleta
							</a>	
						</div>
					</div>
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:elimina_costo_extra' %}">
								<span class="glyphicon glyphicon-print"></span>
								<br>
								<br>
								Cancela reimpr. de boleta
							</a>	
						</div>
					</div>

					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:elimina_retiro' %}">
								<span class="glyphicon glyphicon-arrow-right"></span>
								<br>
								<br>
								Cancela retiro<br>
							&nbsp;
							</a>	
						</div>						
					</div>	
					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:cancela_abono' %}">
								<span class="glyphicon glyphicon-usd"></span>
								<br>
								<br>
								Cancela refrendo<br>
							&nbsp;
							</a>	
						</div>						
					</div>		

					<div class="col-xs-2">
						<div class="cls_boton_body">
							<a href="{% url 'empenos:forzar_desempeno' %}">
								<span class="glyphicon glyphicon-usd"></span>
								<br>
								<br>
								Forzar desempeño
							&nbsp;
							</a>	
						</div>						
					</div>		

				</div>

		</div>

		<div class="row" >
			<div class="col-xs-12">
				<br>
			</div>
			</div>



	</div>
{% endblock %}