{%extends 'base.html'%}
{%load static%} 
{% load bootstrap3 %}
{% block usuario %}

			<div class="col-xs-6">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-user"></span> Usuario: {{user_2.user.username}} {{user_2.perfil.perfil}}</label> 
				
			</div>
			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-home"></span> Sucursal: {{user_2.sucursal}}</label> 	
			</div>

			<div class="col-xs-3">
				<label class="cls_icono no-btn"><span class="glyphicon glyphicon-inbox"></span> Caja: {{c}} </label> 	
			</div>
{% endblock  %}

{%block content%}
<div class="col-xs-12 cls_encabezado_body">
	<div class="col-xs-10">
		<a >
			Consulta Usuarios de Sistema
		</a>		
	</div>
	<div class="col-xs-2" >
		<a href="{% url 'seguridad:alta_usuario' %}" type="button" class="btn btn-default btn-sm" id="btn_menu_consulta_prod" >
          <span class="glyphicon glyphicon-plus"  ></span> 
          	Agregar Usuario 
        </a>
	</div>
</div>
<div class="col-xs-12">
	<form method="post" action="#" class="cls_form_1">
		{%csrf_token%}

	<div class="row cls_form_consulta">
		<div class="col-xs-12">
			<div class="panel panel-default" id="panel_principal" >						 
				<div class="panel-body">

					<div class="col-xs-12">
						<div class="panel panel-default">						
							<div class="panel-body">
								<div class="col-xs-3">
									<label>Nombre de usuario</label>
									{%bootstrap_field form.username show_label=False%}
								</div>								
								<div class="col-xs-3">
									<br>
									<button class="btn btn-primary btn-sm">
										Consultar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<hr>
				</div>

				<div class="col-xs-12">
					<div class="cls_encabezado_alert " >
						<label>Usuarios</label>
					</div>
					<table class="table table-bordered" >
						<thead>
							<th></th>
							<th>Nombre USR</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Email</th>
							<th>Activo</th>
						</thead>
						<tbody>
							{% for usr in usuarios %}
							<tr>
								
								<td>
									<a href="{% url 'seguridad:modifica_usr'  id=usr.id%}" class ="btn btn-default btn-sm" >
										
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								</td>
								<td>
									
										{{usr.username}}
									
								</td>
								<td>
									
										{{usr.first_name}}
									
								</td>
								<td>
									
										{{usr.last_name}}
									
								</td>

								<td>
									
										{{usr.email}}
									
								</td>

								<td>
									
										{{usr.is_active}}
										
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
&nbsp;

			</div>
		</div>
	</div>








		
	</form>
</div>
{%endblock%}

